.wpbs-layout-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;

  &:not(.active) .loop-button {
    display: none;
  }
}