.wpbs-layout-grid {
  display: flex;
  flex-direction: column;
}

/* Pagination block full width */
.wpbs-layout-grid .wp-block-query-pagination {
  width: fit-content;
  display: inline-block;
}

/* Pagination numbers grid */
.wpbs-layout-grid .wp-block-query-pagination .wp-block-query-pagination-numbers {
  display: inline-flex;
  width: fit-content;
  max-width: 100%;
  align-items: stretch;
  margin: 0;
}

/* Individual page numbers */
.wpbs-layout-grid .wp-block-query-pagination .wp-block-query-pagination-numbers .page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
}

/* Current page number disables pointer events */
.wpbs-layout-grid .wp-block-query-pagination .wp-block-query-pagination-numbers .page-numbers.current {
  pointer-events: none;
}

/* Container inside layout grid */
.wpbs-layout-grid-container {
  @apply flex flex-wrap;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
  row-gap: inherit;
  column-gap: inherit;
  width: 100%;
}

/* Button inside pagination modifier */
.wpbs-layout-grid--pagination .wpbs-layout-grid__button {
  @apply inline-block;
}

/* Hide button if container is empty */
.wpbs-layout-grid--pagination .wpbs-layout-grid-container:empty + .wpbs-layout-grid__button {
  display: none !important;
  pointer-events: none;
}
