.wpbs-layout-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;

  --space: calc(var(--column-gap, 0px) * (var(--columns, 1) - 1));
  --column-width: calc((100% - var(--space, 0px)) / var(--columns, 3));


}