.wpbs-layout-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .wp-block-query-pagination {
    width: 100%;
    display: block;

    .wp-block-query-pagination-numbers {
      display: inline-grid;
      grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
      width: fit-content;
      max-width: 100%;
      align-items: stretch;

      .page-numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        aspect-ratio: 1/1;
        height: auto;
        width: auto;

        &.current {
          pointer-events: none;
        }
      }
    }
  }


  .wpbs-layout-grid-card {
    max-width: calc((100% - (var(--row-gap, 0px) * (var(--columns, 2) - 1))) / var(--columns, 1));
  }

  &--masonry > &__container {
    & > .wpbs-layout-grid-card {
      margin-bottom: var(--row-gap, var(--column-gap, 0px));
    }
  }

  &--divider &__container > .wpbs-layout-grid-card {

    &:before,
    &:after {
      left: calc(0px - (var(--column-gap, var(--row-gap, 0px)) / 2));
      color: var(--divider-color, lightgray);
      position: absolute;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Font Awesome 6 Pro', sans-serif;
    }

    &:before {
      content: "";
      width: calc(100% + var(--column-gap, var(--row-gap, 0px)));
      border-bottom: var(--divider-size, 1px) var(--divider-color, lightgray) var(--divider-style, dashed);
      font-size: var(--divider-icon-size, min(2rem, calc(var(--row-gap, var(--column-gap, 0px)) - 1rem)));
      bottom: calc(0px - (var(--row-gap, var(--column-gap, 0px)) / 2));
    }

    &:after {
      top: 0;
      height: 100%;
      border-left: var(--divider-size, 1px) var(--divider-color, lightgray) var(--divider-style, dashed);
      content: var(--divider-icon-large, '');
      font-size: var(--divider-icon-size, min(2rem, calc(var(--column-gap, var(--row-gap, 0px)) - 1rem)));
    }
  }

  &__container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;


    justify-content: inherit;
    align-items: inherit;
    row-gap: inherit;
    column-gap: inherit;
    width: 100%;

  }

}