.wpbs-layout-grid {
  display: flex;
  flex-direction: column;

  .wp-block-query-pagination {
    width: 100%;
    display: block;

    .wp-block-query-pagination-numbers {
      display: inline-grid;
      grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
      width: fit-content;
      max-width: 100%;
      align-items: stretch;

      .page-numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
        width: auto;

        &.current {
          pointer-events: none;
        }
      }
    }
  }


  &__container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;


    justify-content: inherit;
    align-items: inherit;
    row-gap: inherit;
    column-gap: inherit;
    width: 100%;

  }

  &--pagination &__button {
    display: inline-block;
  }

  &--pagination &__container:empty + &__button {
    display: none !important;
    pointer-events: none;
  }

}