.wpbs-services-content {
  display: flex;
  position: relative;


  &.--icon {

    &:before {
      content: var(--icon, none);
      color: var(--icon-color, inherit);
      font-variation-settings: var(--icon-css);
      font-family: 'Material Symbols Outlinedo', sans-serif;
      font-size: var(--icon-size, 24px);
      line-height: inherit;
      height: 1lh;
      width: auto;
      aspect-ratio: 1/1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

  }
}