.idea
*
*.*
node_modules/
package-lock.json

!/.gitignore
!/gulpfile.js
!/package.json
!/tailwind.config.js
!/webpack.config.js
!/webpack.blocks.config.js
!/postcss.config.js

!app/
!app/dev/
!app/dev/**

!app/public/
!app/public/wp-content/
!app/public/wp-content/plugins/
!app/public/wp-content/themes/

!app/public/wp-content/themes/wp-block-studio/
!app/public/wp-content/themes/wp-block-studio/theme.json
!app/public/wp-content/plugins/wp-block-studio/
!app/public/wp-content/plugins/wp-block-studio/**
app/public/wp-content/plugins/wp-block-studio/build
app/public/wp-content/plugins/wp-block-studio/build/**
app/public/wp-content/plugins/wp-block-studio/**/*.min.*