.wpbs-content-column {
  width: var(--column-width, auto);
  max-width: var(--column-maxWidth, auto);
  height: var(--column-height, auto);
  flex-basis: var(--column-basis, auto);
  display: var(--column-display, flex);
  align-items: var(--column-align, initial);
  justify-content: var(--column-justify, initial);
  flex-grow: var(--column-grow, initial);
  flex-shrink: var(--column-shrink, initial);
  position: var(--column-position, initial);
  z-index: var(--column-zIndex, initial);
  overflow: var(--column-overflow, initial);
  flex-wrap: var(--column-wrap, initial);

  @media screen and (max-width: 768px) {
    width: var(--column-mobile-width, var(--column-width));
    max-width: var(--column-mobile-maxWidth, var(--column-maxWidth));
    height: var(--column-mobile-height, var(--column-height));
    flex-basis: var(--column-mobile-basis, var(--column-basis));
    display: var(--column-mobile-display, var(--column-display));
    align-items: var(--column-mobile-align, var(--column-align));
    justify-content: var(--column-mobile-justify, var(--column-justify));
    flex-grow: var(--column-mobile-grow, var(--column-grow));
    flex-shrink: var(--column-mobile-shrink, var(--column-shrink));
    position: var(--column-mobile-position, var(--column-position));
    z-index: var(--column-mobile-zIndex, var(--column-zIndex));
    overflow: var(--column-mobile-overflow, var(--column-overflow));
    flex-wrap: var(--column-mobile-wrap, var(--column-wrap));
  }

}