.wpbs-archive-filters {
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 100%;

  &.--field-width {
    width: clamp(12rem, var(--field-width), 100%);
  }

  &.--label-top {
    flex-direction: column;
  }

  &.--label-bottom {
    flex-direction: column-reverse;
  }

  &.--label-bottom,
  &.--label-top {

    .wpbs-archive-filters__label {
      width: 100%;
    }
  }

  &.--bold-label .wpbs-archive-filters__label {
    font-weight: bold;
  }

  .wpbs-archive-filters__label {
    display: block;
    width: fit-content;
    color: var(--color-label, inherit);
    font-size: var(--label-size, inherit);
    line-height: 1.3;
    @apply
    transition-colors
    duration-300
  }

  &:hover {
    .wpbs-archive-filters__label {
      color: var(--hover-color-label, var(--color-label, inherit));
    }

    .wpbs-archive-filters__input {
      background-color: var(--hover-color-background, var(--color-background, transparent));
      color: var(--hover-color-text, var(--color-text, inherit));
      border-color: var(--hover-color-border, var(--border-color, initial));
    }

    .wpbs-archive-filters__button,
    .wpbs-archive-filters__submit {
      background-color: var(--hover-color-button, var(--color-button, transparent));
      color: var(--hover-color-button-text, var(--color-button-text, inherit));
    }
  }

  &:focus-within {
    .wpbs-archive-filters__label {
      color: var(--active-color-label, var(--color-label, inherit));
    }

    .wpbs-archive-filters__input {
      background-color: var(--active-color-background, var(--color-background, transparent));
      color: var(--active-color-text, var(--color-text, inherit));
      border-color: var(--active-color-border, var(--border-color, initial));
    }
  }

  &.--prefix .wpbs-archive-filters__input {
    input,
    select {
      padding-left: 2em;
    }
  }

  .wpbs-archive-filters__input {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    font-size: inherit;
    line-height: inherit;
    overflow: hidden;
    background-color: var(--color-background, transparent);
    color: var(--color-text, inherit);
    border-width: var(--border-width, initial);
    border-style: var(--border-style, initial);
    border-color: var(--border-color, initial);
    border-radius: var(--radius, initial);
    @apply
    transition-colors
    duration-300
    ;

    input,
    select {
      appearance: none;
      border: none;
      outline: none;
      background-color: transparent;
      color: inherit;
      width: 100%;
      display: block;
      height: 100%;
      border-radius: 0;
      padding: .2rem .6rem;
      font-size: inherit;
      line-height: 1.3;
      @apply
      transition-colors
      duration-300
      ;

      &::placeholder {
        color: inherit;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    &:before {
      content: var(--prefix-icon, none);
      font-family: "Font Awesome 6 Pro", sans-serif;
      height: 100%;
      width: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      font-size: max(16px, var(--prefix-size, inherit));
      line-height: 1.3;
    }

    select {
      padding-right: var(--button-width, 2em);
    }

    &.--select {
      cursor: pointer;

      select {
        cursor: pointer;
      }

      .wpbs-archive-filters__button {
        pointer-events: none;
      }
    }
  }

  .wpbs-archive-filters__button,
  .wpbs-archive-filters__submit {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-button, transparent);
    color: var(--color-button-text, inherit);
    cursor: pointer;
    gap: .5rem;
    font-size: max(16px, var(--button-size, 16px));
    line-height: 1.3;
    flex-shrink: 0;
    flex-grow: 0;
    @apply
    transition-colors
    duration-300
    ;

    &:after {
      font-family: "Font Awesome 6 Pro", sans-serif;
      width: auto;
      aspect-ratio: 1/1;
      display: block;
    }
  }

  .wpbs-archive-filters__button {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--button-width, 2em);

    &:after {
      content: var(--button-icon, '\f078');
    }
  }

  .wpbs-archive-filters__submit {
    position: relative;
    padding: .2rem .6rem;
    width: var(--button-width, auto);

    &:after {
      content: var(--button-icon, none);
    }
  }

}
