@use 'includes';

.divlabs-menu {

  &.--sub-menu-divider .sub-menu > li:not(:last-of-type) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--sub-menu-divider, transparent);
  }

  &--dropdown-hidden &__menu {
    & > li {
      &.menu-item-has-children {

        & > a {

          &:after {
            display: none !important;
          }
        }

      }
    }
  }

  &--dropdown-below &__menu {

    & > li {
      &.menu-item-has-children {

        & > a {

          &:after {
            @apply
            absolute
            top-full
            left-1/2
            transform
            -translate-x-1/2
            aspect-auto
            w-fit
            leading-none
            text-sm
          }
        }

      }
    }
  }

  &__menu {
    justify-content: inherit;
    align-items: inherit;
    gap: inherit;
    flex-wrap: inherit;

    & li.current-menu-item:not(:hover),
    & li.current-menu-ancestor:not(:hover) {
      color: var(--current-item, inherit) !important;
    }

    & > li {
      background-color: var(--link-bg, transparent);
      color: var(--link-color, inherit);
      @apply
      relative
      ;

      @include includes.mq('md') {
        &:hover {
          color: var(--link-color-hover, inherit);
        }
      }

      @include includes.mq('md') {
        &:hover > a {
          background-color: var(--link-bg-hover, transparent);
        }
      }

      &.active > a {
        background-color: var(--link-active-bg, transparent);
        color: var(--link-active, inherit);
      }

      & > a {
        padding: var(--link-padding-y, var(--link-padding-x, initial)) var(--link-padding-x, var(--link-padding-y, initial));
        color: inherit;
        @apply
        whitespace-nowrap
        flex
        transition-colors
        duration-200
        ease-linear
        relative
        items-center
        gap-2
      }

      &.menu-item-has-children {

        &.active > a:after {
          @apply
          rotate-180
        }

        & > a {

          &:after {
            content: '\f078';
            @apply
            aspect-square
            transition-transform
            duration-300
            ease-in-out
            font-fa
            flex
            text-center
            justify-center
            items-center
            pointer-events-none
          }
        }
      }
    }

    .sub-menu {
      padding: var(--sub-menu-spacing, 1rem) 0 !important;

      & > li {

        &:first-of-type > a {
          border-radius: var(--sub-menu-rounded, 0) var(--sub-menu-rounded, 0) 0 0;
        }

        &:last-of-type > a {
          border-radius: 0 0 var(--sub-menu-rounded, 0) var(--sub-menu-rounded, 0);
        }

        &:only-of-type > a {
          border-radius: var(--sub-menu-rounded, 0);
        }

        &:last-of-type {
          border-bottom: none;
        }

        &:hover > a,
        & > a:hover {
          color: var(--sub-menu-text, black);
        }

        @include includes.mq('md') {
          &:hover > a {
            background-color: var(--sub-menu-hover, var(--sub-menu, #efefef));
            color: var(--sub-menu-text-hover, var(--sub-menu-text, black));
          }
        }

        &.current-menu-item > a:not(:hover),
        &.current-menu-ancestor > a:not(:hover) {
          color: var(--current-item, inherit) !important;
        }

        & > a {
          color: var(--sub-menu-text, black);
          background-color: var(--sub-menu, white);
          padding: var(--sub-menu-padding-y, var(--sub-menu-padding-x, initial)) var(--sub-menu-padding-x, var(--sub-menu-padding-y, initial));
          @apply
          transition-colors
          duration-300
          block
        }
      }
    }
  }

  &--dropdown &__menu {
    @apply
    flex
    ;

    @include includes.mq('md') {
      & > li:hover > .sub-menu {
        max-width: min(20rem, 100vw);
        @apply
        opacity-100
        pointer-events-auto
      }
    }

    & > li > .sub-menu.offset-right {
      @apply
      left-auto
      right-0
      translate-x-0
    }

    & > li > .sub-menu.offset-left {
      @apply
      left-0
      translate-x-0
    }

    & > li > .sub-menu {
      width: max(100%, 12rem);
      @apply
      text-left
      flex
      flex-col
      opacity-0
      duration-300
      transition-opacity
      pointer-events-none
      absolute
      top-full
      left-1/2
      transform
      -translate-x-1/2
      z-50
      ;

      & > li {
        @apply
        w-full
      }

      & > li > a {
        @apply
        py-2
        px-3
        block
        w-full
      }
    }
  }

  &--inline {
    @apply
    w-full
  }

  &--inline &__menu {
    word-spacing: 10px;

    @apply
    w-full
    block
    lg:whitespace-nowrap
    ;

    & > li {
      word-spacing: 0;
      @apply
      inline-block
    }
  }

  &--accordion &__menu {
    @apply
    w-full
    flex
    flex-col
    ;

    & > li {
      @apply
      w-full
      block
      ;

      &.menu-item-has-children {

        .sub-menu {
          background-color: var(--sub-menu, transparent);
        }

        & > a {
          padding-right: calc(var(--sub-menu-padding-x, 0px) + 1.5em);

          &:after {
            content: '\f078';
            margin-right: var(--sub-menu-padding-x, initial);
            @apply
            absolute
            top-1/2
            right-0
            w-auto
            h-em-lg
            text-inherit
            leading-normal
            transform
            -translate-y-1/2
          }
        }
      }
    }

    & li > a {
      @apply
      w-full
    }

    & > li > .sub-menu {
      @apply
      w-full
      hidden
    }


  }

  &--list &__menu {

    flex-direction: inherit;

    & > li.menu-item-has-children > a:after {
      content: none;
    }

    & > li > .sub-menu {
      @apply
      w-full
    }
  }

}