:root :where(.editor-styles-wrapper):after {
  content: none !important;
}

.block-editor-block-list__block .block-list-appender.block-list-appender {
  z-index: 40;
}

.editor-visual-editor {
  min-height: calc(100svh - 60px) !important;

  .block-editor-block-canvas {

  }


  .editor-styles-wrapper {
    display: flex !important;
    @apply
    flex-col
    ;

    & > .wp-block-post-content {
      @apply
      flex
      flex-col
      grow
    }
  }

  &__post-title-wrapper {
    margin: 2rem 0 2rem !important;

    h1 {
      color: revert;
      font-size: revert;
      font-weight: revert;
      line-height: revert;
      margin: 0;
    }
  }
}

.block-editor-block-inspector .components-base-control {
  margin-bottom: auto;
}


.wpbs-editor-tabs {
  @apply
  flex
  flex-col
  gap-5
  ;

  .components-tab-panel__tabs {
    @apply
    flex
  }

  .components-tab-panel__tabs-item {
    @apply
    flex-1
    p-0
    pb-2
    border-solid
    border-0
    border-b-2
    border-gray-400
    text-gray-400
    block
    text-left
    h-auto
    ;

    &:hover:not(.active) {
      @apply
      text-black
    }

    &.active {
      border-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
      color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
    }
  }

}