.wpbs-tab-panel {
  margin: 0 -16px;

  & > .components-tab-panel__tabs {
    @apply
    bg-gray-100
    ;

    & > button:after {
      height: 2px;
      @apply
      bg-transparent
    }
  }

  & > .components-tab-panel__tab-content {
    padding: 16px;
  }
}

.editor-visual-editor {


  .editor-styles-wrapper {
    @apply
    flex
    flex-col
    ;

    & > .wp-block-post-content {
      @apply
      flex
      flex-col
      grow
    }
  }

  &__post-title-wrapper {
    margin: 2rem 0 2rem !important;

    h1 {
      color: revert;
      font-size: revert;
      font-weight: revert;
      line-height: revert;
      margin: 0;
    }
  }
}

.block-editor-block-inspector .components-base-control {
  margin-bottom: auto;
}