:root :where(.editor-styles-wrapper)::after {
  content: none !important;
}

.components-base-control:has(> .components-base-control__field > .col-span-full) {
  grid-column: 1 / -1;
}

.wp-site-blocks.is-root-container {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

/* ------------------------------
   Block Appender Buttons
------------------------------ */

div[class*='wp-block-wpbs'] .block-list-appender .block-list-appender__toggle,
div[class*='wp-block-wpbs'] .block-list-appender .block-editor-inserter__toggle {
  height: 30px !important;
  width: auto !important;
  background-color: #000000b3 !important;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  aspect-ratio: 1 / 1;

  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 0;

  opacity: 0.3;
}

div[class*='wp-block-wpbs'] .block-list-appender .block-list-appender__toggle:hover,
div[class*='wp-block-wpbs'] .block-list-appender .block-editor-inserter__toggle:hover {
  opacity: 0.9;
  border: none;
  color: #ffffff;
}

/* ------------------------------
   Block Appender Wrapper
------------------------------ */

div[class*='wp-block-wpbs'] .block-list-appender {
  z-index: 40;

  position: absolute;
  right: 0.75rem; /* right-3 */
  bottom: 0.75rem; /* bottom-3 */

  z-index: 50;
  display: flex;
}

div[class*='wp-block-wpbs'] .block-list-appender .block-editor-inserter {
  position: relative;
  top: auto;
  right: auto;
}

div[class*='wp-block-wpbs'] .block-list-appender .block-editor-default-block-appender {
  clear: none;
}

div[class*='wp-block-wpbs'] .block-list-appender .block-list-appender__toggle:hover,
div[class*='wp-block-wpbs'] .block-list-appender .block-editor-inserter__toggle:hover {
  outline: none;
  box-shadow: none;
  background-color: var(--wp-admin-theme-color, black) !important;
}

/* ------------------------------
   Editor Structure
------------------------------ */

.editor-visual-editor {
  flex-grow: 1;
}

.editor-visual-editor .editor-styles-wrapper {
  display: flex !important;
  flex-direction: column;
}

.editor-visual-editor .editor-styles-wrapper > .wp-block-post-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.editor-visual-editor__post-title-wrapper {
  margin: 2rem 0 !important;
}

.editor-visual-editor__post-title-wrapper h1 {
  color: revert;
  font-size: revert;
  font-weight: revert;
  line-height: revert;
  margin: 0;
}

.block-editor-block-inspector .components-base-control {
  margin-bottom: auto;
}

/* ------------------------------
   WPBS Editor Tabs
------------------------------ */

.wpbs-editor-tabs {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* gap-5 */
}

.wpbs-editor-tabs .components-tab-panel__tabs {
  display: flex;
}

.wpbs-editor-tabs .components-tab-panel__tabs-item {
  flex: 1;
  padding: 0 0 0.5rem;

  border-style: solid !important;
  border-width: 0;
  border-bottom-width: 2px;
  border-color: #9ca3af !important; /* border-gray-400 */

  color: #9ca3af !important; /* text-gray-400 */
  display: block;
  text-align: left;
  height: auto !important;
}

.wpbs-editor-tabs .components-tab-panel__tabs-item:hover:not(.active) {
  color: #000000 !important; /* text-black */
}

.wpbs-editor-tabs .components-tab-panel__tabs-item.active {
  border-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)) !important;
  color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)) !important;
}
