.interface-complementary-area {
  width: 100%;

  &__fill {
    width: 100% !important;

    .editor-sidebar {
      width: 100% !important;
    }
  }
}

.interface-interface-skeleton__sidebar:has(> .interface-complementary-area__fill) {

  @media only screen and (min-width: 992px) {
    width: clamp(400px, 50%, 560px);
  }

  @media only screen and (max-width: 1200px) {
    .acf-fields > .acf-field {
      width: 100% !important;
    }
  }
}

.interface-interface-skeleton__sidebar .interface-complementary-area {
  width: 100%;
}