:root :where(.editor-styles-wrapper):after {
  content: none !important;
}

.editor-visual-editor {


  .editor-styles-wrapper {
    min-height: 65vh;
    @apply
    flex
    flex-col
    ;

    & > .wp-block-post-content {
      @apply
      flex
      flex-col
      grow
    }
  }

  &__post-title-wrapper {
    margin: 2rem 0 2rem !important;

    h1 {
      color: revert;
      font-size: revert;
      font-weight: revert;
      line-height: revert;
      margin: 0;
    }
  }
}

.block-editor-block-inspector .components-base-control {
  margin-bottom: auto;
}


.wpbs-editor-tabs {
  @apply
  flex
  flex-col
  gap-4
  ;

  .components-tab-panel__tabs {
    @apply
    flex
  }

  .components-tab-panel__tabs-item {
    @apply
    flex-1
    p-0
    pb-2
    border-solid
    border-0
    border-b-2
    border-gray-400
    block
    text-left
    h-auto
    ;

    &.active {
      @apply
      border-b-blue-700
      text-blue-700
    }
  }

}