:root :where(.editor-styles-wrapper)::after {
  content: none !important;
}

.block-editor-block-list__block .block-list-appender.block-list-appender {
  z-index: 40;
}

.editor-visual-editor {
  /* min-height: calc(100svh - 60px) !important; */
  flex-grow: 1;
}

.editor-visual-editor .editor-styles-wrapper {
  display: flex !important;
  @apply flex-col;
}

.editor-visual-editor .editor-styles-wrapper > .wp-block-post-content {
  @apply flex flex-col grow;
}

.editor-visual-editor__post-title-wrapper {
  margin: 2rem 0 !important;
}

.editor-visual-editor__post-title-wrapper h1 {
  color: revert;
  font-size: revert;
  font-weight: revert;
  line-height: revert;
  margin: 0;
}

.block-editor-block-inspector .components-base-control {
  margin-bottom: auto;
}

/* === WPBS Editor Tabs === */

.wpbs-editor-tabs {
  @apply flex flex-col gap-5;
}

.wpbs-editor-tabs .components-tab-panel__tabs {
  @apply flex;
}

.wpbs-editor-tabs .components-tab-panel__tabs-item {
  @apply flex-1 p-0 pb-2 border-solid border-0 border-b-2 border-gray-400 text-gray-400 block text-left h-auto;
}

.wpbs-editor-tabs .components-tab-panel__tabs-item:hover:not(.active) {
  @apply text-black;
}

.wpbs-editor-tabs .components-tab-panel__tabs-item.active {
  border-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
}
