:root :where(.editor-styles-wrapper)::after {
  content: none !important;
}

.components-base-control:has(> .components-base-control__field > .col-span-full) {
  grid-column: 1 / -1;
}

.wp-site-blocks.is-root-container {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

div[class*='wp-block-wpbs'] .block-list-appender .block-list-appender__toggle,
div[class*='wp-block-wpbs'] .block-list-appender .block-editor-inserter__toggle {
  height: 30px !important;
  width: auto !important;
  background-color: #000000b3 !important;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  border-radius: 4px;
  @apply
  flex
  items-center
  justify-center
  text-center
  aspect-square
  text-white
  cursor-pointer
  border-none
  outline-none
  overflow-hidden
  p-0
  opacity-30
  hover:opacity-90
  hover:border-none
  hover:text-white
}

div[class*='wp-block-wpbs'] .block-list-appender {
  z-index: 40;
  @apply
  absolute
  right-3
  bottom-3
  z-50
  flex
  ;

  .block-editor-inserter {
    @apply
    relative
    top-auto
    right-auto
  }

  .block-editor-default-block-appender {
    @apply
    clear-none
  }
}

div[class*='wp-block-wpbs'] .block-list-appender .block-list-appender__toggle:hover,
div[class*='wp-block-wpbs'] .block-list-appender .block-editor-inserter__toggle:hover {
  outline: none;
  box-shadow: none;
  background-color: var(--wp-admin-theme-color, black) !important;
}

.editor-visual-editor {
  /* min-height: calc(100svh - 60px) !important; */
  flex-grow: 1;
}

.editor-visual-editor .editor-styles-wrapper {
  display: flex !important;
  @apply flex-col;
}

.editor-visual-editor .editor-styles-wrapper > .wp-block-post-content {
  @apply flex flex-col grow;
}

.editor-visual-editor__post-title-wrapper {
  margin: 2rem 0 !important;
}

.editor-visual-editor__post-title-wrapper h1 {
  color: revert;
  font-size: revert;
  font-weight: revert;
  line-height: revert;
  margin: 0;
}

.block-editor-block-inspector .components-base-control {
  margin-bottom: auto;
}

/* === WPBS Editor Tabs === */

.wpbs-editor-tabs {
  @apply flex flex-col gap-5;
}

.wpbs-editor-tabs .components-tab-panel__tabs {
  @apply flex;
}

.wpbs-editor-tabs .components-tab-panel__tabs-item {
  @apply flex-1 p-0 pb-2 border-solid border-0 border-b-2 border-gray-400 text-gray-400 block text-left h-auto;
}

.wpbs-editor-tabs .components-tab-panel__tabs-item:hover:not(.active) {
  @apply text-black;
}

.wpbs-editor-tabs .components-tab-panel__tabs-item.active {
  border-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
}
