.editor-visual-editor {

  &__post-title-wrapper {
    margin: 2rem 0 2rem !important;
    h1 {
      color: revert;
      font-size: revert;
      font-weight: revert;
      line-height: revert;
      margin: 0;
    }
  }
}