.wpbs-layout-tools {
  padding: 9px 8px;
  background: var(--color-gray-400, #cdcdcd);
  gap: 5px;
  display: flex;
  flex-direction: column;

  .wpbs-composite-field {

    .wpbs-composite-field__grid {
      padding: 12px 8px;
      background-color: #efefef;
      border-radius: 0;
    }
  }

  .wpbs-layout-tools__panel {
    background: white;
    border: 0;
    grid-column: 1/-1;
    width: 100%;
    border-radius: 0;
    overflow: hidden;

    & > .components-panel__body {
      border: 0 !important;
    }


    .components-panel__body-toggle > span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: auto;
      aspect-ratio: 1 / 1;
      order: 2;
      margin-left: auto;
      transform: none;

      & > svg {
        transform: none;
        right: auto;
        top: auto;
        position: relative;
      }
    }

    & > .components-tools-panel,
    .components-panel__body-toggle {
      width: 100%;
      border: 0 !important;
      line-height: 1 !important;
      padding: 12px !important;
      min-height: 46px !important;
    }


    .wpbs-background-controls {
      margin-top: 10px;

      .wpbs-background-controls__card {
        padding: 12px;
        background-color: #efefef;
        border-radius: 0;
      }

      & > .components-panel__body-title {
        background-color: #efefef;
      }

      &.is-opened > .components-panel__body-title {
        margin-bottom: 18px;
      }

    }

    .wpbs-advanced-background {
      padding-top: 18px;
      padding-bottom: 2px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .wpbs-layout-tools__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    grid-column: 1/-1;
    line-height: 1 !important;
    padding: 12px !important;
    min-height: 40px !important;
    background-color: #efefef;

    .components-button {
      background-color: transparent;
      border-radius: 0;
      min-width: auto !important;
      height: 16px !important;
      width: auto !important;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: auto;
      overflow: hidden;
      color: black !important;

      .dashicon {
        padding: 0 !important;
        width: auto !important;
        height: auto !important;
        font-size: 16px !important;
        line-height: 16px !important;
      }

      &:hover {
        background-color: black;
        color: white !important;
      }
    }

    select {
      background-color: transparent;
    }

  }

  .components-tools-panel {
    padding: 12px;
  }

  .wpbs-layout-tools__breakpoint {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    select {
      flex-grow: 1;
      border: 0;
      outline: 0;
      padding-left: 0 !important;
      height: auto;
      min-height: 1em;
      line-height: 1;
      width: 100%;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      background-image: none !important;
      margin: 0 !important;
      max-width: 100%;
    }
  }

  .wpbs-layout-tools__grid {
    grid-column: 1/-1;
    width: 100%;
    padding: 0 !important;
  }

  .wpbs-layout-tools__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 12px;
    width: 100%;
    padding: 12px;
    background-color: #eaeaea;
    border-radius: 0;
    grid-column: 1/-1;
  }

  .wpbs-layout-tools__header:not(.active) {

    strong {
      color: var(--color-gray-400);
    }

  }


  .wpbs-layout-tools__label {
    display: block;
    width: 100%;
    font-weight: bold;
  }

  .wpbs-layout-tools__control {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
  }


}

.wpbs-block-controls {

  .wpbs-controls__color {
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;

    & > div {
      margin: 0 !important;
    }
  }

  .wpbs-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    grid-column: span 1;
    max-width: 100%;

    &.--full {
      grid-column: 1 / -1;
    }


    & > .components-grid {
      width: 100% !important;
    }

    .components-base-control {
      width: 100% !important;

      .components-base-control__field {
        margin: 0 !important;
      }
    }

    .components-range-control {
      .components-range-control__number {
        width: auto !important;
      }

      .components-range-control__wrapper {
        flex-basis: 100% !important;
      }
    }
  }
}

.is-style-unstyled.components-panel__body {
  padding: 0 !important;
}

.is-style-unstyled .components-panel__body-title {
  margin: 0 !important;
}


.is-style-unstyled .components-panel__body-content {
  padding: 0 !important;
}

.is-style-unstyled .components-panel__body-toggle {

  &:hover {
    background-color: unset !important;
  }
}

