.wpbs-layout-tools {
  padding: 0 !important;

  .components-panel__body-title {
    background: white;
    margin: 0 !important;
  }

  .components-tools-panel {
    background: white;
    border: 0;
  }

  .wpbs-layout-tools__grid {
    padding: 10px 8px;
    background: #dedede;
  }

  .components-tools-panel-header {

    h2 {
      color: black;
    }
  }

  .components-tools-panel-header:not(:only-child) {
    padding: 0 16px 14px;
    margin: 0 -16px;
    border-bottom: 1px solid #dedede;
    width: auto;

    h2 {
      color: var(--wp-admin-theme-color, black);
    }
  }

}
