.wpbs-layout-tools {
  padding: 9px 8px;
  background: var(--color-gray-400, #cdcdcd);
  gap: 5px;
  display: flex;
  flex-direction: column;

  .wpbs-layout-tools__panel {

    & > .components-panel__body {
      border: 0 !important;
    }

    & > .components-tools-panel,
    .components-panel__body-toggle
    {
      width: 100%;
      border: 0 !important;
      line-height: 1 !important;
      padding: 4px 12px !important;
      min-height: 42px !important;
    }

    .components-base-control {
      width: 100%;
    }
  }


  .wpbs-layout-tools__panel {
    background: white;
    border: 0;
    grid-column: 1/-1;
    width: 100%;
    border-radius: 4px;
  }

  .wpbs-layout-tools__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px;
    gap: 8px;
    grid-column: 1/-1;

    .components-button {
      background-color: #e0e0e0;
      border-radius: 4px;
      min-width: auto !important;
      height: 16px !important;
      width: auto !important;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: auto;
      overflow: hidden;
      color: black !important;

      .dashicon {
        padding: 0 !important;
        width: auto !important;
        height: auto !important;
        font-size: 16px !important;
        line-height: 16px !important;
      }

      &:hover {
        background-color: #efefef;
        color: black !important;
      }
    }

  }

  .components-tools-panel {
    padding: 12px;
  }

  .wpbs-layout-tools__breakpoint {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    select {
      flex-grow: 1;
      border: 0;
      outline: 0;
      padding-left: 0;
      height: auto;
      min-height: 1em;
      line-height: 1;

      width: 100%;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .wpbs-layout-tools__grid {
    grid-column: 1/-1;
    width: 100%;
    padding: 0 !important;
  }

  .wpbs-layout-tools__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 12px;
    width: 100%;
    padding: 12px;
    background-color: #eaeaea;
    border-radius: 4px;
    grid-column: 1/-1;
  }

  .wpbs-layout-tools__header:not(.active) {

    strong {
      color: var(--color-gray-400);
    }

  }

  .wpbs-layout-tools__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    grid-column: span 1;

    &.--full {
      grid-column: 1 / -1;
    }

    & > .components-grid {
      width: 100%;
    }
  }

  .wpbs-layout-tools__label {
    display: block;
    width: 100%;
    font-weight: bold;
  }

  .wpbs-layout-tools__control {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
  }
}

.wpbs-layout-tools__popover {
  padding: 0;
  max-width: 100%;


  .wpbs-layout-tools__popover-list {
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 180px;
    width: 240px;
    max-height: 400px;
    display: block;

    & > li {
      display: block;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #dedede;

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }

  .wpbs-layout-tools__popover-list li button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #5a5a5a;

    &:focus {
      outline: none;
      border-radius: initial;
      box-shadow: none;
    }

    &:hover {
      background-color: #efefef;
    }

    & > span {
      flex-grow: 1;
      font-family: sans-serif;
    }
  }

  .wpbs-layout-tools__popover-item.active button {
    font-weight: 600;
    opacity: 0.75;
    color: var(--wp-admin-theme-color, #3858e9);
  }

  .wpbs-layout-tools__popover-item button::before {
    content: '';
    opacity: 0.7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    height: 1lh;
    width: auto;
    margin-right: 8px;
    font-size: 14px;
    line-height: inherit;
    flex-shrink: 0;
  }

  .wpbs-layout-tools__popover-item.active button::before {
    content: '✓';
  }
}
