.wpbs-layout-tools {
  padding: 0 !important;

  .components-panel__body-title {
    background: white;
    margin: 0 !important;
  }

  .components-tools-panel {
    background: white;
    border-radius: 4px;
    border: 1px solid #dedede;
  }

  .wpbs-layout-tools__grid {
    padding: 10px;
    background: #efefef;
  }

  .components-tools-panel-header {

    h2 {
      color: var(--color-gray-400);
    }
  }

  .components-tools-panel-header:not(:only-child) {
    padding: 0 -16px 13px;
    border-bottom: 1px solid #dedede;
    width: auto;

    h2 {
      color: black;
    }
  }

}
