.wpbs-cta-button {
  display: inline-flex; /* inline-flex */
  position: relative; /* relative */
  user-select: none; /* select-none */
  width: fit-content; /* w-fit */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */

  transition-property: opacity, color, background-color, border-color, gap;
  transition-duration: 300ms;
  transition-timing-function: linear;

  column-gap: 4px;
  line-height: 1;

  &:hover > .wpbs-cta-button__icon {
    transform: translateX(6px);
  }

  &.--offset {
    & > .wpbs-cta-button__title {
      transform: translate(0, var(--offset, 0));
    }
  }

  &.--offset-icon {
    & > .wpbs-cta-button__icon {
      transform: translate(0, var(--offset-icon, 0));
    }
  }

  .wpbs-cta-button__title,
  .wpbs-cta-button__icon,
  &:after {
    position: relative;
    z-index: 1;
  }

  & > .wpbs-cta-button__title {
    order: 1;
  }

  &.is-style-link {
    & > .wpbs-cta-button__title,
    & > .wpbs-cta-button__icon {
      color: inherit;
    }
  }

  &.--icon-only > .wpbs-cta-button__title {
    display: none;
  }

  &.--icon-first > .wpbs-cta-button__icon {
    order: 0;
  }

  &.--icon-hide > .wpbs-cta-button__icon {
    display: none;
  }

  &.--icon-bold:after {
    font-weight: bold;
  }

  &:hover:after {
    color: inherit;
  }

  .wpbs-cta-button__icon {
    color: var(--icon-color, inherit);
    order: 2;
    transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s linear;
    height: 100% !important;
  }
}
