.wpbs-cta-button {
  @apply inline-flex relative select-none w-fit items-center justify-center;
  transition-property: opacity, color, background-color, border-color, gap;
  transition-duration: 300ms;
  transition-timing-function: linear;

  & > .wpbs-cta-button__title {
    order: 1;
  }

  &.--icon-only > .wpbs-cta-button__title {
    display: none;
  }

  &.--icon-first > .wpbs-cta-button__icon {
    order: 0;
  }

  &.--icon-hide > .wpbs-cta-button__icon {
    display: none;
  }

  &.--icon-bold:after {
    font-weight: bold;
  }

  &:hover:after {
    color: inherit;
  }


  .wpbs-cta-button__icon {
    color: var(--icon-color, inherit);
    order: 2;
    transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s linear;
  }
}