.wpbs-faq-group {
  box-shadow: none !important;

  @apply
  flex
  flex-col
  ;

  .wpbs-faq-group__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
    transition: color .3s linear;
    background-color: var(--header-color, transparent);
    color: var(--header-text-color, inherit);
    padding: var(--header-padding, 0);
  }


  &.--header-hover .wpbs-faq-group__header:hover {
    background-color: var(--header-color-hover);
  }

  &.--header-text-hover .wpbs-faq-group__header:hover {
    color: var(--header-text-color-hover);
  }

  &.--header-active .wpbs-faq-group__item.active > .wpbs-faq-group__header {
    background-color: var(--header-color-active);
  }

  &.--header-text-active .wpbs-faq-group__item.active > .wpbs-faq-group__header {
    color: var(--header-text-color-active);
  }

  .wpbs-faq-group__toggle {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1/1;
    font-size: var(--icon-size, 20px);
    color: var(--icon-color, inherit);
    font-weight: var(--icon-style, inherit);
    font-family: 'Font Awesome 6 Pro', sans-serif;
    height: 1.2em;
    line-height: normal;
    transition: transform .2s ease, color .3s linear;

    &:before {
      content: var(--icon-closed, "\f078");
    }
  }

  .wpbs-faq-group__item.--open .wpbs-faq-group__toggle {
    &:before {
      content: var(--icon-open, var(--icon-closed, "\f077"));
    }
  }

  &.--static .wpbs-faq-group__toggle {
    transform: none !important;
    transition: none !important;
  }

  &.--no-icon .wpbs-faq-group__toggle {
    display: none !important;
  }

  .wpbs-faq-group__item.--open .wpbs-faq-group__toggle {
    transform: rotate(-180deg);
  }

  .wpbs-faq-group__item {
    position: relative;
    padding: var(--item-padding, 0);
    gap: var(--item-gap, 0);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--item-radius);
  }

  &.--divider .wpbs-faq-group__item {
    display: none !important;
  }

  .wpbs-faq-group__answer {
    display: none;
    background-color: var(--content-color, transparent);
    color: var(--content-text-color, inherit);
    padding: var(--content-padding, 0);
  }

  .wpbs-faq-group__item.active .wpbs-faq-group__answer,
  .wpbs-faq-group__item.is-selected .wpbs-faq-group__answer,
  .wpbs-faq-group__item.has-child-selected .wpbs-faq-group__answer {
    display: block;
  }

}