.wpbs-faq-group {

  &.is-style-accordion {

    .wpbs-faq-content {
      display: none;
    }
  }

  &.--divider {

    .wpbs-faq-item {
      position: relative;

      &:not(:last-of-type):after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: var(--divider, none);
        transform: translate(0, calc(var(--row-gap, 10px) / 2));
      }
    }

  }


  .wpbs-faq-header {
    padding-right: calc(var(--icon-size, 32px) + 1rem);
    user-select: none;

    &:after {
      content: var(--icon-closed, var(--icon-open, 'add'));
      font-size: var(--icon-size, 32px);
      line-height: var(--icon-size, 32px);
      color: var(--icon-color, inherit);
      font-variation-settings: var(--icon-css);
      font-family: 'Material Symbols Outlined', sans-serif;
      position: absolute;
      top: 50%;
      right: .5rem;
      transform: translateY(-50%);
      height: 1lh;
      width: auto;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      z-index: 10;
      transition: transform .3s ease-in-out;
    }

  }

  .wpbs-faq-item.--open .wpbs-faq-header:after {
    content: var(--icon-open, var(--icon-closed, 'remove'));
    transform: translateY(-50%) rotate(180deg);
  }

}