.wpbs-icon-list {
  position: relative;
  width: 100%;
  display: inline-block;
  line-height: var(--line-height, 1.5em);


}

/* Modifier: .wpbs-icon-list--divider affecting the list */
.wpbs-icon-list--divider .wpbs-icon-list__list > li:not(:last-of-type) {
  padding-bottom: var(--row-gap, 1em);
  border-bottom: var(--divider, none);
}

/* List container */
.wpbs-icon-list__list {
  width: fit-content;
  display: inline-grid;
  grid-template-columns: repeat(var(--list-columns, 1), var(--list-fit, 1fr));
  list-style: none;
  position: static;
  gap: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* List items */
.wpbs-icon-list__list > li {
  position: relative;
  padding-left: var(--icon-space, calc(var(--icon-size, 1.5em) + 0.2em));
  line-height: inherit;

  p:not(p + p) {
    margin-top: 0 !important;
  }

  p {
    margin-bottom: 0 !important;
  }

}

/* List item icon before pseudo-element */
.wpbs-icon-list__list > li::before {
  content: var(--icon, none);
  font-family: "Material Symbols Outlined", sans-serif;
  font-variation-settings: var(--icon-css);
  font-size: var(--icon-size, 24px);
  color: var(--icon-color, inherit);
  line-height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  height: 1lh;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
  user-select: none;
}
