.wpbs-video {

  .wpbs-video__title {
    color: var(--title-color, white);
    padding: .7rem;

    & > span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .wpbs-video__button {
    transform: translate(-50%, -50%);

    &:before {
      content: var(--icon, "\f144");
      font-family: 'Material Symbols Outlined', sans-serif;
      font-variation-settings: var(--icon-css);
      font-size: var(--icon-size, 48px);
      color: var(--icon-color, inherit);
    }
  }
}