.wpbs-video {
  cursor: pointer;
  object-fit: cover;
  object-position: center;

  &:not(.active){
    &.--overlay:hover:after {
      opacity: .2;
      transition: opacity .3s linear;
    }

    &.--overlay:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--overlay, none);
      pointer-events: none;
    }
  }




  .wpbs-video__title {
    color: var(--title-text, white);
    padding: .7rem;
    background: var(--title-bar, transparent);

    & > span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .wpbs-video__button {
    transform: translate(-50%, -50%);
    color: var(--icon-color, inherit);
    pointer-events: none;

    &:before {
      color: var(--icon-color, inherit);
    }
  }
}