.wpbs-video {

  &.--overlay:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay, none);
  }


  .wpbs-video__title {
    color: var(--title-color, white);
    padding: .7rem;
    background: var(--title-bar, transparent);

    & > span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .wpbs-video__button {
    transform: translate(-50%, -50%);

    &:before {
      content: var(--icon, "play_circle");
      font-family: 'Material Symbols Outlined', sans-serif;
      font-variation-settings: var(--icon-css);
      font-size: var(--icon-size, 48px);
      color: var(--icon-color, inherit);
    }
  }
}