.wpbs-video {
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 16/9;

  &:not(.active) {
    &.--overlay:hover:after {
      opacity: .2;
    }

    &.--overlay:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--overlay, rgba(0, 0, 0, .4));
      pointer-events: none;
      transition: opacity .3s linear;
    }
  }

  picture {
    img {
      object-fit: cover;
      object-position: center;
      width: 100% !important;
      height: 100% !important;
    }
  }


  .wpbs-video__title {
    color: var(--title-text, white);
    padding: .7rem;
    background: var(--title-bar, transparent);

    & > span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .wpbs-video__button {
    transform: translate(-50%, -50%);
    color: var(--icon-color, rgba(255, 255, 255, .8));
    pointer-events: none;

    &:before {
      color: var(--icon-color, rgba(255, 255, 255, .8));
    }
  }
}