@tailwind base;
@layer base {
  body, html {
    padding: 0 !important;
    margin: 0 !important;
    font-family: sans-serif;
    min-height: 100vh;
  }

  body {
    @apply
    flex
    flex-col
  }

  body > .wp-site-blocks {
    @apply
    grow
    flex
    flex-col
    ;

    & > .entry-content {
      @apply
      grow
      flex
      flex-col
    }
  }

  p {
    @apply
    first:mt-0
    last:mb-0
  }
}



