.wpbs-layout-container {

  & > .container {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    gap: inherit;
  }

  &-xs:not(.has-container),
  &-xs.has-container > .container {
    max-width: var(--wp--custom--container--xs);
    margin-left: auto;
    margin-right: auto;
  }

  &-sm:not(.has-container),
  &-sm.has-container > .container {
    max-width: var(--wp--custom--container--sm);
    margin-left: auto;
    margin-right: auto;
  }

  &-md:not(.has-container),
  &-md.has-container > .container {
    max-width: var(--wp--custom--container--lg);
    margin-left: auto;
    margin-right: auto;
  }

  &-normal:not(.has-container),
  &-normal.has-container > .container {
    max-width: var(--wp--custom--container--xl);
    margin-left: auto;
    margin-right: auto;
  }

  &-lg:not(.has-container),
  &-lg.has-container > .container {
    max-width: var(--wp--custom--container--2-xl);
    margin-left: auto;
    margin-right: auto;
  }

  &-none:not(.has-container),
  &-none.has-container > .container {
    max-width: 100%;
  }

}