.wpbs-layout-container.wpbs-has-container > .container,
.wpbs-layout-wrapper {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  row-gap: inherit;
  column-gap: inherit;
  flex-wrap: inherit;
}

.wpbs-layout-container {


  &-xs:not(.wpbs-has-container),
  &-xs.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--xs);
    margin-left: auto;
    margin-right: auto;
  }

  &-sm:not(.wpbs-has-container),
  &-sm.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--sm);
    margin-left: auto;
    margin-right: auto;
  }

  &-md:not(.wpbs-has-container),
  &-md.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--lg);
    margin-left: auto;
    margin-right: auto;
  }

  &-normal:not(.wpbs-has-container),
  &-normal.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--xl);
    margin-left: auto;
    margin-right: auto;
  }

  &-lg:not(.wpbs-has-container),
  &-lg.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--2-xl);
    margin-left: auto;
    margin-right: auto;
  }

  &-none:not(.wpbs-has-container),
  &-none.wpbs-has-container > .container {
    max-width: 100%;
  }

}