/* Loop card sizing */
.loop-card {
  max-width: calc((100% - (var(--grid-col-gap, 0px) * (var(--columns, var(--slides, 2)) - 1))) / var(--columns, var(--slides, 1)));
}

/* Masonry layout */
.loop-container.masonry .loop-card {
  margin-bottom: var(--grid-row-gap, var(--grid-col-gap, 0px));
}

.loop-container.masonry .loop-card.last-row-item {
  margin-bottom: 0;

  &:before {
    content: none !important;
  }

  &:after {
    height: calc(100% + calc(var(--grid-row-gap, var(--grid-col-gap)) / 2)) !important;
    top: calc(0px - (var(--grid-row-gap, var(--grid-col-gap, 0px)) / 2));
  }
}

/* Divider styles for loop-card */
.--divider .loop-card::before,
.--divider .loop-card::after {
  left: calc(0px - (var(--grid-col-gap, var(--grid-row-gap, 0px)) / 2));
  color: var(--divider-color, lightgray);
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Material Symbols Outlined',sans-serif;
}

/* Divider horizontal line */
.--divider .loop-card::before {
  content: "";
  width: calc(100% + var(--grid-col-gap, var(--grid-row-gap, 0px)));
  border-bottom: var(--divider, none);
  font-size: var(--divider-icon-size, min(2rem, calc(var(--grid-row-gap, var(--grid-col-gap, 0px)) - 1rem)));
  bottom: calc(0px - (var(--grid-row-gap, var(--grid-col-gap, 0px)) / 2));
  color: var(--divider-icon-color, inherit);
}

/* Divider vertical icon */
.--divider .loop-card::after {
  top: 0;
  height: 100%;
  border-left: var(--divider, none);
  content: var(--divider-icon, '');
  font-size: var(--divider-icon-size, min(2rem, calc(var(--grid-col-gap, var(--grid-row-gap, 0px)) - 1rem)));
}


.--line-clamp,
.--line-clamp > p {
  line-clamp: var(--line-clamp, 6);
  -webkit-line-clamp: var(--line-clamp, 6);
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
