.wpbs-layout-container.wpbs-has-container > .container,
.wpbs-layout-wrapper {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  row-gap: inherit;
  column-gap: inherit;
  flex-wrap: inherit;
  width: 100%;
  height: 100%;
}

.wpbs-layout-container {


  &-xs:not(.wpbs-has-container),
  &-xs.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--xs);
    margin-left: auto;
    margin-right: auto;
  }

  &-sm:not(.wpbs-has-container),
  &-sm.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--sm);
    margin-left: auto;
    margin-right: auto;
  }

  &-md:not(.wpbs-has-container),
  &-md.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--lg);
    margin-left: auto;
    margin-right: auto;
  }

  &-normal:not(.wpbs-has-container),
  &-normal.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--xl);
    margin-left: auto;
    margin-right: auto;
  }

  &-lg:not(.wpbs-has-container),
  &-lg.wpbs-has-container > .container {
    max-width: var(--wp--custom--container--2-xl);
    margin-left: auto;
    margin-right: auto;
  }

  &-none:not(.wpbs-has-container),
  &-none.wpbs-has-container > .container {
    max-width: 100%;
  }

}

.loop-card {
  max-width: calc((100% - (var(--row-gap, 0px) * (var(--columns, 2) - 1))) / var(--columns, 1));
}

.--masonry .loop-card {
  margin-bottom: var(--row-gap, var(--column-gap, 0px));
}

.--divider .loop-card {

  &:before,
  &:after {
    left: calc(0px - (var(--column-gap, var(--row-gap, 0px)) / 2));
    color: var(--divider-color, lightgray);
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Font Awesome 6 Pro', sans-serif;
  }

  &:before {
    content: "";
    width: calc(100% + var(--column-gap, var(--row-gap, 0px)));
    border-bottom: var(--divider-size, 1px) var(--divider-color, lightgray) var(--divider-style, dashed);
    font-size: var(--divider-icon-size, min(2rem, calc(var(--row-gap, var(--column-gap, 0px)) - 1rem)));
    bottom: calc(0px - (var(--row-gap, var(--column-gap, 0px)) / 2));
  }

  &:after {
    top: 0;
    height: 100%;
    border-left: var(--divider-size, 1px) var(--divider-color, lightgray) var(--divider-style, dashed);
    content: var(--divider-icon-large, '');
    font-size: var(--divider-icon-size, min(2rem, calc(var(--column-gap, var(--row-gap, 0px)) - 1rem)));
  }
}