@layer base {
  * {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }

  html, body {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 100svh;
    width: 100vw;
    font-variant-numeric: lining-nums;
    scroll-behavior: smooth;
    font-size: var(--wp--custom--font-size);
  }

  [id] {
    scroll-margin-top: calc(var(--wpbs-header-height) + 1.5rem);
  }

  body {
    min-height: 100svh;
    font-variant-ligatures: none;
    display: flex;
    flex-direction: column;


    &.wpbs-body-lock {
      overflow: hidden;
    }

  }

  img {
    display: block;
    max-width: 100%;
    user-select: none;

    picture > & {
      object-fit: inherit;
    }
  }


  p:empty {
    display: none;
  }

  p:not(p + p) {
    margin-top: 0 !important;
  }

  p {
    margin-bottom: 0 !important;
  }


  body, html {
    padding: 0 !important;
    margin: 0 !important;
    font-family: sans-serif;
    min-height: 100vh;
  }


  body > .wp-site-blocks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > .entry-content {
      display: flex !important;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  p {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  picture {

    & > img {
      object-fit: inherit;
      width: 100%;
      height: 100%;
    }
  }
}


h1, h2, h3, h4, h5, h6 {

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

[hide-empty]:has([data-required].--empty),
[hide-empty]:has([data-required]:empty),
{
  display: none !important;

  [data-required] {
    display: none !important;
  }
}