@layer components {

  .container {
    margin-left: auto;
    margin-right: auto;
  }


  .material-symbols-outlined {
    font-family: "Material Symbols Outlined", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    transition: opacity .3s;

    /*    &:not(body.icons-loaded &) {
          font-size: 0 !important;
          opacity: 0 !important;
        }*/
  }
}