@layer components {

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .material-icon-before {
    &:before {
      font-family: 'Material Symbols Outlined', sans-serif;
      height: 1em;
      width: 1em;
      line-height: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    transition: opacity .3s;

    &:not(body.icons-loaded &) {
      opacity: 0 !important;
      height: 1em !important;
      width: 1em !important;
      overflow: hidden !important;
    }
  }
}