@layer components {

  .container {
    margin-left: auto;
    margin-right: auto;
  }


  .material-symbols-outlined,
  .material-icon-before:before {
    font-family: "Material Symbols Outlined", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    height: 1em;
    width: 1em;
    display: inline-flex;

    &:not(body.icons-loaded &) {
      visibility: hidden !important;
      height: 1em !important;
      width: 1em !important;
      overflow: hidden !important;
    }
  }
}