@layer utilities {

  .rounded-inherit {
    border-radius: inherit;
  }

  .aspect-video {
    aspect-ratio: 16/9;
  }
  .aspect-banner {
    aspect-ratio: 1/.4;
  }

  .z-modal {
    z-index: 120000;
  }

  .font-size-inherit {
    font-size: inherit;
  }


}