.wpbs-flyout-button {

  .wpbs-flyout-button__icon {
    line-height: 1;
    display: block;
  }

  .wpbs-flyout-button__label {
    font-size: var(--label-size, 13px);
    line-height: 1;
    color: var(--color-label, inherit);
  }

  .wpbs-flyout-button__image {
    height: 1em;
    @apply
    w-auto object-contain object-center flex items-center justify-center
  }
}