.wpbs-background {

  &__media {
    mask-image: var(--mask-image, none);
    mask-repeat: no-repeat;
    mask-size: var(--mask-size, contain);
    mask-origin: var(--mask-origin, center);
    background-image: var(--image, none);
    background-repeat: var(--repeat, no-repeat);
    background-size: var(--size, cover) var(--scale, auto);
    background-blend-mode: var(--blend, none);
    top: var(--top, 0);
    left: var(--left, 0);
    opacity: var(--opacity, 1);
    width: var(--width, 100%);
    height: var(--height, 100%);
    transform:var(--transform, none);


    &:after {

      background: var(--overlay, transparent);

      @apply
      content-['']
      block
      absolute
      top-0
      left-0
      w-full
      h-full
    }
  }

}