.wpbs-background {
  background-color: inherit;
  border-radius: inherit;
  overflow: hidden;
}

/* Modifier: .wpbs-background--mask targeting .wpbs-background__media */
.wpbs-background.--mask:before,
.wpbs-background.--mask > video {
  mask-image: var(--mask-image, none);
  mask-repeat: no-repeat;
  mask-size: var(--mask-size, contain);
  mask-position: var(--mask-origin, center);
}

/* Main background media element */
.wpbs-background__media {
  background-color: var(--color, inherit);
  top: var(--top, 0);
  left: var(--left, 0);
  right: var(--right, auto);
  bottom: var(--bottom, auto);

  width: var(--width, 100%);
  height: var(--height, 100%);
  transform: var(--transform, none);
  position: absolute;
}

/* Overlay after pseudo */
.wpbs-background__media::after {
  background: var(--overlay, transparent);
  content: '';
  @apply block absolute top-0 left-0 w-full h-full z-10;
}

/* Image & pattern fallback styles when not lazy OR inside block editor */
.wpbs-background:not(.lazy) .wpbs-background__media--image,
.wpbs-background:not(.lazy) .wpbs-background__media--pattern,
.block-editor-page .wpbs-background__media--image,
.block-editor-page .wpbs-background__media--pattern {
  mask-image: var(--fade, none);
  background-color: inherit;
  opacity: var(--opacity, 1);
  background-image: var(--image, none);
  background-repeat: var(--repeat, no-repeat);
  background-size: var(--scale, var(--size, cover));
  background-blend-mode: var(--blend, none);
  background-attachment: var(--attachment, initial);
  background-position: var(--origin, center);
  max-height: var(--max-height, 100%);
  @apply absolute top-0 left-0 w-full h-full z-0;
}

/* Video-specific styling */
.wpbs-background__media--video video {
  max-height: var(--max-height, 100%);
  mask-image: var(--fade, none);
  mix-blend-mode: var(--blend, none);
  opacity: var(--opacity, 1);
}
