.wpbs-background {
  border-radius: inherit;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  mask-image: var(--mask-image, none);
  mask-repeat: no-repeat;
  mask-size: var(--mask-size, contain);
  mask-position: var(--mask-origin, center);
  top: var(--top, 0);
  left: var(--left, 0);
  right: var(--right, auto);
  bottom: var(--bottom, auto);
  width: var(--width, 100%);
  height: var(--height, 100%);
  max-height: var(--max-height, 100%);
  background-color: var(--color, inherit);
}

.wpbs-background:before {
  content: '';
  display: flex;
}

/* Modifier: .wpbs-background--mask targeting .wpbs-background__media */
.wpbs-background.--mask:before,
.wpbs-background.--mask > video {
  mask-image: var(--fade, 0%);
}

/* Main background media element */
.wpbs-background:before,
.wpbs-background > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: var(--transform, none);
  opacity: var(--opacity, 1);
  background-repeat: var(--repeat, no-repeat);
  background-size: var(--size, var(--scale, cover));
  background-blend-mode: var(--blend, none);
  background-attachment: var(--attachment, initial);
  background-position: var(--origin, center);
  max-height: var(--max-height, 100%);
  background-color: inherit;
}

/* Overlay after pseudo */
.wpbs-background::after {
  background: var(--overlay, transparent);
  content: '';
  @apply block absolute top-0 left-0 w-full h-full z-10;
}

/* Image & pattern fallback styles when not lazy OR inside block editor */
.wpbs-background.--image:not(.--lazy):before,
.wpbs-background.--pattern:not(.--lazy):before,
.block-editor-page .wpbs-background.--image::before,
.block-editor-page .wpbs-background.--pattern::before {
  background-image: var(--image, none);
}

/* Video-specific styling */
.wpbs-background > video {
  max-height: var(--max-height, 100%);
  mix-blend-mode: var(--blend, none);
}
