.wpbs-flyout-nav {
  z-index: 900;
  width: 100svw;
  height: 100svh;
  @apply
  fixed
  flex
  top-0
  left-0
  overflow-hidden
  bg-transparent
  justify-end
  pointer-events-none
  transition-all
  duration-500
  ease-linear
  ;

  &.active {
    backdrop-filter: grayscale(.8) blur(5px);
    -webkit-backdrop-filter: grayscale(.8) blur(5px);
    @apply
    pointer-events-auto
    bg-black/60
  }

  &__container {
    transform: translate(calc(100% + 2rem), 0);
    @apply
    w-fit
    max-w-full
    h-full
    flex
    flex-col
    transition-transform
    duration-500
    ease-in-out
    z-30
    absolute
    top-0
    right-0
    pointer-events-none
    ;

    & > * {
      @apply
      pointer-events-auto
    }
  }

  &.active &__container {
    @apply
    translate-x-0
  }

}