.gform_wrapper.gravity-theme {

  /* INPUT */
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel],
  textarea,
  select {
    font-size: var(--wp--custom--form--default--input--font-size, inherit) !important;
    min-height: var(--wp--custom--form--default--input--height, 2.5rem) !important;
    background-color: var(--wp--custom--form--default--input--color--background, white) !important;
    color: var(--wp--custom--form--default--input--color--text, inherit) !important;
    border-color: var(--wp--custom--form--default--input--border--color, transparent) !important;
    border-width: var(--wp--custom--form--default--input--border--width, 1px) !important;
    border-radius: var(--wp--custom--form--default--input--border--radius, 0) !important;
    border-style: var(--wp--custom--form--default--input--border--style, solid) !important;
    padding: var(--wp--custom--form--default--input--padding, .2rem .5rem) !important;

    &::placeholder {
      color: var(--wp--custom--form--default--input--color--placeholder, gray) !important;
    }

    &:focus {
      background-color: var(--wp--custom--form--default--input--focus--color--background, var(--wp--custom--form--default--input--color--background, white)) !important;
      border-color: var(--wp--custom--form--default--input--focus--border--color, var(--wp--custom--form--default--input--border--color, transparent)) !important;
    }
  }


  /* CONTAINER */
  & > form {
    row-gap: var(--wp--custom--form--default--container--gap--wrapper, 1rem) !important;
    text-align: var(--wp--custom--form--default--container--align, inherit) !important;
  }

  .gform_fields {
    column-gap: var(--wp--custom--form--default--container--gap--col, 1rem) !important;
    row-gap: var(--wp--custom--form--default--container--gap--row, 1rem) !important;

    .ginput_complex {
      column-gap: var(--wp--custom--form--default--container--gap--col, 1rem) !important;
      row-gap: var(--wp--custom--form--default--container--gap--row, 1rem) !important;
    }

  }

  /* LABEL */
  .gfield_label {
    font-weight: var(--wp--custom--form--default--label--weight, inherit) !important;
    color: var(--wp--custom--form--default--label--color, inherit) !important;
    text-transform: var(--wp--custom--form--default--label--text-transform, inherit) !important;
    font-size: var(--wp--custom--form--default--label--font-size, inherit) !important;
  }

  & > form .gfield {
    gap: var(--wp--custom--form--default--label--gap, .2rem);
  }

  /* CHECKBOX */
  .gfield_radio,
  .gfield_checkbox {

    .gchoice {
      label {
        &:before {
          content: var(--wp--custom--form--default--checkbox--icon) !important;
          background: var(--wp--custom--form--default--checkbox--color--background, var(--wp--custom--form--default--input--color--background, white)) !important;
          color: var(--wp--custom--form--default--checkbox--color--text, var(--wp--custom--form--default--input--color--text, inherit)) !important;
          height: var(--wp--custom--form--default--checkbox--height, var(--wp--custom--form--default--input--height, 2.5rem)) !important;
          border-width: var(--wp--custom--form--default--checkbox--border--width, var(--wp--custom--form--default--input--border--width, 1px)) !important;
          border-color: var(--wp--custom--form--default--checkbox--border--color, var(--wp--custom--form--default--input--border--color, transparent)) !important;
          border-style: var(--wp--custom--form--default--checkbox--border--style, var(--wp--custom--form--default--input--border--style, solid)) !important;
        }
      }

      input:checked ~ label:before {
        background: var(--wp--custom--form--default--checkbox--active--color--background, var(--wp--custom--form--default--checkbox--color--background, var(--wp--custom--form--default--input--color--background, white))) !important;
        border: var(--wp--custom--form--default--checkbox--active--border--color, var(--wp--custom--form--default--checkbox--border--color, var(--wp--custom--form--default--input--border--color, transparent))) !important;
        color: var(--wp--custom--form--default--checkbox--active--color--text, var(--wp--custom--form--default--checkbox--color--text, var(--wp--custom--form--default--input--color--text, inherit))) !important;
      }
    }
  }

  .gfield_checkbox {
    .gchoice {
      label {
        &:before {
          border-radius: var(--wp--custom--form--default--checkbox--border--radius, var(--wp--custom--form--default--input--border--radius, 0)) !important;
        }
      }

      input:checked ~ label:before {
        content: var(--wp--custom--form--default--checkbox--active--icon) !important;
      }
    }
  }

  .gfield_radio {
    .gchoice {
      label {
        &:before {
          border-radius: var(--wp--custom--form--default--radio--border--radius, var(--wp--custom--form--default--checkbox--border--radius, var(--wp--custom--form--default--input--border--radius, 0))) !important;
        }
      }

      input:checked ~ label:before {
        content: var(--wp--custom--form--default--radio--icon, var(--wp--custom--form--default--checkbox--active--icon)) !important;
      }
    }
  }

  /* BUTTON */
  .gform_button, .gform-button,
  .gform_next_button,
  .gform_previous_button {
    min-width: var(--wp--custom--form--default--button--width, auto) !important;
    height: var(--wp--custom--form--default--button--height, var(--wp--custom--form--default--input--height, 2.5rem)) !important;
    line-height: 1 !important;
    padding: var(--wp--custom--form--default--button--padding, .2rem 1rem) !important;
    font-size: var(--wp--custom--form--default--button--font-size, 1rem) !important;
    text-transform: var(--wp--custom--form--default--button--text-transform, none) !important;
    background-color: var(--wp--custom--form--default--button--color--background, var(--wp--preset--color--primary)) !important;
    color: var(--wp--custom--form--default--button--color--text, white) !important;
    border-width: var(--wp--custom--form--default--button--border--width, 0) !important;
    border-color: var(--wp--custom--form--default--button--border--color, var(--wp--preset--color--primary)) !important;
    border-radius: var(--wp--custom--form--default--button--border--radius, 0) !important;
    white-space: nowrap;

    &:hover {
      background-color: var(--wp--custom--form--default--button--hover--color--background, var(--wp--preset--color--primary-hover)) !important;
      border-color: var(--wp--custom--form--default--button--hover--border--color, var(--wp--preset--color--primary-hover)) !important;
      color: var(--wp--custom--form--default--button--hover--color--text, white) !important;
    }

  }

  .gform_button, .gform-button {

    &:after {
      content: var(--wp--custom--form--default--button--icon);
      color: var(--wp--custom--form--default--button--color--icon, inherit);
      line-height: 1;
    }
  }

}

/* DARK */


.gform_wrapper.gravity-theme.is-style-dark {

  .gform_button, .gform-button {

    &:after {
      content: var(--wp--custom--form--dark--button--icon);
      color: var(--wp--custom--form--dark--button--color--icon, inherit);
    }

    &:hover:after {
      color: inherit !important
    }
  }

  .gfield {

    gap: var(--wp--custom--form--dark--label--gap, var(--wp--custom--form--default--label--gap, .2rem));

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea,
    select {
      background-color: var(--wp--custom--form--dark--input--color--background, var(--wp--custom--form--default--input--color--background, white)) !important;
      color: var(--wp--custom--form--dark--input--color--text, inherit) !important;
      border-color: var(--wp--custom--form--dark--input--border--color, var(--wp--custom--form--default--input--border--color, transparent)) !important;
      border-style: var(--wp--custom--form--dark--input--border--style, var(--wp--custom--form--default--input--border--style, solid)) !important;
      border-width: var(--wp--custom--form--dark--input--border--width, var(--wp--custom--form--default--input--border--width, 1px)) !important;
      border-radius: var(--wp--custom--form--dark--input--border--radius, var(--wp--custom--form--default--input--border--radius, 0)) !important;
      padding: var(--wp--custom--form--dark--input--padding, var(--wp--custom--form--default--input--padding, .2rem .5rem)) !important;

      &::placeholder {
        color: var(--wp--custom--form--dark--input--color--placeholder, var(--wp--custom--form--default--input--color--placeholder, gray)) !important;
      }

      &:focus {
        background-color: var(--wp--custom--form--dark--input--focus--color--background, var(--wp--custom--form--default--input--focus--color--background, var(--wp--custom--form--default--input--color--background, white))) !important;
        border-color: var(--wp--custom--form--dark--input--focus--border--color, var(--wp--custom--form--default--input--focus--border--color, var(--wp--custom--form--default--input--border--color, transparent))) !important;
      }
    }
  }

  .gfield_radio,
  .gfield_checkbox {

    .gchoice {
      label {
        &:before {
          background: var(--wp--custom--form--dark--checkbox--color--background, var(--wp--custom--form--default--checkbox--color--background, var(--wp--custom--form--default--input--color--background, white))) !important;
          color: var(--wp--custom--form--dark--checkbox--color--text, var(--wp--custom--form--default--checkbox--color--text, var(--wp--custom--form--default--input--color--text, inherit))) !important;
          border-color: var(--wp--custom--form--dark--checkbox--border--color, var(--wp--custom--form--default--checkbox--border--color, var(--wp--custom--form--default--input--border--color, transparent))) !important;
        }
      }

      input:checked ~ label:before {
        background: var(--wp--custom--form--dark--checkbox--active--color--background, var(--wp--custom--form--default--checkbox--active--color--background, var(--wp--custom--form--default--checkbox--color--background, var(--wp--custom--form--default--input--color--background, white)))) !important;
        border: var(--wp--custom--form--dark--checkbox--active--border--color, var(--wp--custom--form--default--checkbox--active--border--color, var(--wp--custom--form--default--checkbox--border--color, var(--wp--custom--form--default--input--border--color, transparent)))) !important;
        color: var(--wp--custom--form--dark--checkbox--active--color--text, var(--wp--custom--form--default--checkbox--active--color--text, var(--wp--custom--form--default--checkbox--color--text, var(--wp--custom--form--default--input--color--text, inherit)))) !important;
      }
    }
  }

  .gform_button, .gform-button,
  .gform_next_button,
  .gform_previous_button {
    background-color: var(--wp--custom--form--dark--button--color--background, var(--wp--preset--color--primary)) !important;
    color: var(--wp--custom--form--dark--button--color--text, white) !important;
    border-color: var(--wp--custom--form--dark--button--border--color, var(--wp--preset--color--primary)) !important;

    &:hover {
      background-color: var(--wp--custom--form--dark--button--hover--color--background, var(--wp--preset--color--primary-hover)) !important;
      color: var(--wp--custom--form--dark--button--hover--color--text, white) !important;
      border-color: var(--wp--custom--form--dark--button--hover--border--color, var(--wp--preset--color--primary-hover)) !important;
    }
  }

  .gfield_label {
    color: var(--wp--custom--form--dark--label--color, inherit) !important;
    font-weight: var(--wp--custom--form--dark--label--weight, inherit) !important;
  }


  &.gform_validation_error {
    .gfield.gfield_error {

      input,
      textarea,
      select {
        background-color: var(--wp--custom--form--dark--input--error--color--background, var(--wp--custom--form--default--input--error--color--background, var(--wp--custom--form--default--input--color--background, white))) !important;
        color: var(--wp--custom--form--dark--input--error--color--text, var(--wp--custom--form--default--input--error--color--text, var(--wp--custom--form--default--input--color--text, inherit))) !important;
        border-color: var(--wp--custom--form--dark--input--error--border--color, var(--wp--custom--form--default--input--error--border--color, darkred)) !important;

        &::placeholder {
          color: var(--wp--custom--form--dark--input--error--color--placeholder, var(--wp--custom--form--default--input--color--placeholder, gray)) !important;
        }
      }
    }
  }

}

/* ERROR */

.gform_wrapper.gravity-theme.gform_validation_error {
  .gfield.gfield_error {

    input,
    textarea,
    select {
      background-color: var(--wp--custom--form--default--input--error--color--background, var(--wp--custom--form--default--input--color--background, white)) !important;
      color: var(--wp--custom--form--default--input--error--color--text, var(--wp--custom--form--default--input--color--text, inherit)) !important;
      border-color: var(--wp--custom--form--default--input--error--border--color, darkred) !important;

      &::placeholder {
        color: var(--wp--custom--form--default--input--error--color--placeholder, var(--wp--custom--form--default--input--color--placeholder, gray)) !important;
      }
    }
  }
}


/* ***** LAYOUT ***** */
.gform_wrapper.gravity-theme {
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel],
  textarea,
  select {
    display: block !important;
    width: 100% !important;

    @apply
    outline-none
  }
}


.gform_wrapper.gravity-theme {
  @apply
  flex
  flex-col
  w-full
  ;

  & > p {
    @apply
    hidden
  }

  &.active form {
    @apply
    opacity-40
    pointer-events-none
  }


}

.gf_invisible {
  @apply
  hidden
}

.gform_wrapper.gravity-theme {

  .gform_page_footer {
    padding: 0;
    gap: 1rem;
    @apply
    w-full
    flex
    justify-between
  }

  .gfield--type-section {

    margin: 0;
  }

  --wpbs-form-columns: 2;

  &.--collapse .gform_fields .gfield {
    grid-column: 1 / -1 !important;
  }

  @media screen and (min-width: 768px) {
    --wpbs-form-columns: 12;
  }

  .gform_fields {
    display: grid;
    grid-template-columns: repeat(var(--wpbs-form-columns), 1fr) !important;


    @media screen and (max-width: 768px) {
      .gfield.gfield--width-half {
        grid-column: span 1 !important;
      }
    }

    .gfield.gfield--width-half {
      @media screen and (min-width: 768px) {
        grid-column: span 6;
      }
    }

    .gfield.gfield--width-third {
      @media screen and (min-width: 768px) {
        grid-column: span 4;
      }
    }

    .gfield.gfield--width-quarter {
      @media screen and (min-width: 768px) {
        grid-column: span 3;
      }
    }

    .gfield.gfield--width-full {
      grid-column: 1 / -1 !important;
    }

    .ginput_complex {
      gap: 1rem;
      @apply
      flex
      flex-wrap
      ;

      [class*='gform-grid-col'] {
        @apply
        grow
      }
    }

  }


  .gform_fields:has(> .gfield--type-submit) {
    display: flex !important;
    gap: var(--wp--custom--form--inline--gap, 0px) !important;

    & > .gfield:not(.gfield--type-submit) {
      flex-grow: 1;
    }
  }

  .gform_button, .gform-button,
  .gform_next_button,
  .gform_previous_button {
    margin: 0 !important;

    @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-right: 0;
    }

    @apply
    mx-auto
    cursor-pointer
    transition-colors
    duration-300
    inline-flex
    justify-center
    items-center
  }

  .gform_button, .gform-button {

    &:after {
      font-family: 'Font Awesome 6 Pro', sans-serif;
      margin-left: .5rem;
      @apply
      inline-block
    }

    &:hover:after {
      color: inherit !important
    }
  }

  & > form {
    @apply
    transition-opacity
    flex
    flex-col
    ;

    .gfield {
      @apply
      w-full
      flex
      flex-col
      relative
      ;

      &:is(fieldset) {

        margin-bottom: .5rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        .gfield_label {
          font-weight: bold;
        }
      }

      textarea {

        &.small {

        }
      }

      input[type=text],
      input[type=email],
      input[type=tel],
      {
        text-align: inherit;
        @apply
        w-full
      }

      select {
        padding-right: 2rem;
        @apply
        appearance-none
      }

      .ginput_container_select {
        @apply
        relative
        ;

        &:after {
          content: '\f078';
          top: 0;
          right: 0;
          bottom: 0;
          font-family: 'Font Awesome 6 Pro', sans-serif;
          font-size: var(--wp--preset--font-size--normal);
          width: 2rem;
          @apply
          absolute
          flex
          justify-center
          items-center
          select-none
          pointer-events-none
        }
      }

      &--type-hidden {
        @apply
        hidden
      }

      &--width-half {
        @apply
        col-span-6
      }

      &--type-honeypot {
        top: 0;
        height: 0;
        width: 0;
        @apply
        absolute
        overflow-hidden
        z-0
      }

    }

    .gfield_label {
      margin: 0;
      line-height: var(--wp--preset--line-height--small);
      @apply
      relative
      w-full
      block
    }

    .gfield.hidden_label .gfield_label {
      @apply
      hidden
    }

    .gfield--type-choice {

      margin-top: .5rem;

      &:first-child {
        margin-top: 0;
      }
    }

    .gfield_required {
      font-size: inherit !important;
      padding: 0;
      margin-left: .5rem;
      line-height: 1;
      color: gray;
      @apply
      inline-block
      ;

      .gfield_required_text {
        @apply
        hidden
      }

      &:before {
        content: '*';
        line-height: inherit;
        font-size: inherit;
      }
    }

    .gform_footer {
      display: block;
      padding: 0 !important;
      margin: 0 !important;

      p, br {
        @apply
        hidden
      }
    }
  }
}


.gform_wrapper.gravity-theme {
  form {
    @apply
    transition-opacity
    duration-300
  }

  @keyframes wiggle {
    25% {
      transform: translate(-2px, 0)
    }
    50% {
      transform: translate(0, 0)
    }
    75% {
      transform: translate(2px, 0)
    }
    100% {
      transform: translate(0, 0)
    }

  }

  &.gform_validation_error {

    .gform_body {

      animation: wiggle .2s ease-in-out 2;
    }

    .gfield.gfield_error {

      .ginput_container {
        @apply
        relative
        ;

        &:after {
          top: 0;
          font-size: 12px;
          transform: translateY(-50%);
          font-family: 'Font Awesome 6 Pro', sans-serif;
          color: darkred;
          right: .5rem;
          font-weight: bold;
          @apply
          content-['\f111']
          absolute
          pointer-events-none
        }
      }
    }
  }

  .gfield_radio {
    .gchoice label:before {
      border-radius: var(--wp--custom--form--radio--rounded) !important;
    }
  }

  .gfield_radio,
  .gfield_checkbox {
    gap: 1rem 2rem;
    @apply
    inline-flex
    flex-wrap
    justify-start
    items-center
    text-left
    relative
    select-none
    ;

    .gchoice {
      @apply
      flex
      relative
      ;

      input {
        width: 0;
        height: 0;
        @apply
        absolute
        overflow-hidden
        opacity-0
      }

      label {
        font-size: inherit;
        line-height: var(--wp--preset--line-height--normal);
        padding-left: 2rem;
        @apply
        relative
        cursor-pointer
        max-w-full
        ;

        &:before {
          content: '';
          height: 1.8em;
          border-style: solid;
          font-family: 'Font Awesome 6 Pro', sans-serif;
          font-size: var(--wp--preset--font-size--extra-small);
          line-height: 1;
          top: 0;
          left: 0;
          font-weight: bold;
          @apply
          absolute
          w-auto
          aspect-square
          flex
          justify-center
          items-center
          text-center
          overflow-hidden
        }
      }

      input:checked ~ label:before {
        font-family: 'Font Awesome 6 Pro', sans-serif;
        color: white;
      }
    }
  }

  .validation_message {
    @apply
    hidden
  }

  .gform_ajax_spinner,
  .gform-loader {
    display: none !important;
  }

  .gform_validation_errors {
    @apply
    hidden
  }

}


div.ui-datepicker.gravity-theme#ui-datepicker-div[style] {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 10000009999999999 !important;
  max-width: 100%;
  background-color: rgba(0, 0, 0, .3);
  @apply
  w-full
  h-full
  flex
  flex-col
  items-center
  justify-center
  text-center
  pointer-events-none
  ;

  .ui-datepicker-calendar,
  .ui-datepicker-header {
    background-color: white;
    max-width: 22rem;
    @apply
    w-full
    pointer-events-auto
  }

  .ui-datepicker-header {
    gap: .5rem;
    padding: 1rem;
    @apply
    flex
    justify-center
    items-center
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    height: 1.5rem;
    font-size: .9rem;
    line-height: 1.5rem;
    font-family: 'Font Awesome 6 Pro', sans-serif;
    background: transparent;
    @apply
    aspect-square
    block
    text-center
    cursor-pointer
    transition-colors
    grow-0
    shrink-0

    ;

    & > span {
      @apply
      hidden
    }
  }

  .ui-datepicker-prev {
    @apply
    before:content-['\f060']
    order-first
  }

  .ui-datepicker-next {
    @apply
    before:content-['\f061']
    order-last
  }

  .ui-datepicker-title {
    gap: 2rem;
    padding: .5rem;
    @apply
    grow
    h-full
    flex
    items-center

    ;

    font-size: var(--wp--preset--font-size--small);

    select {
      @apply
      w-full
      h-full
      bg-transparent
      cursor-pointer
      focus:outline-0

    }
  }

  /*.ui-datepicker-calendar {
    border: 1rem solid white;
    border-top-width: .5rem;
    @apply
    rounded-bl
    rounded-br
    overflow-hidden
  }*/

  .ui-datepicker-calendar {
    gap: .5rem;
    padding: .5rem 1rem;
    @apply
    w-full
    flex
    flex-col
    overflow-hidden
    ;

    thead {
      font-size: var(--wp--preset--font-size--small);
      line-height: var(--wp--preset--line-height--small);
      font-weight: bold;
      @apply
      text-center
    }

    tbody {
      //grid-template-rows: repeat(6, 1fr);
      gap: .5rem;
      @apply
      grid
      grid-rows-6
    }

    tr {
      gap: .5rem;
      @apply
      w-full
      grid
      grid-cols-7
    }

    td, th {
      @apply
      w-full
      aspect-square
      flex
      ;

      & > span,
      & > a {
        @apply
        w-full
        h-full
        flex
        justify-center
        items-center
        bg-transparent
      }
    }

    td {
      @apply
      transition-colors
      ;

      & > span,
      & > a {

      }

      &:has(span) {
        @apply
        opacity-40
        bg-transparent
      }

      &:has(a) {
        @apply
        cursor-pointer
      }
    }
  }


}
