/* CONTAINER */

$form_align: var(--wp--custom--form--default--container--align, inherit);
$form_gap_row: var(--wp--custom--form--default--container--gap--row, 1rem);
$form_gap_col: var(--wp--custom--form--default--container--gap--col, 1rem);
$form_gap_wrapper: var(--wp--custom--form--default--container--gap--wrapper, 1rem);


/* LABEL */
$label_text_transform: var(--wp--custom--form--default--label--text-transform, inherit);
$label_font_size: var(--wp--custom--form--default--label--font-size, inherit);
$label_color: var(--wp--custom--form--default--label--color, inherit);
$label_weight: var(--wp--custom--form--default--label--weight, inherit);
$label_gap: var(--wp--custom--form--default--label--gap, .2rem);


/* INPUT */
$input_padding: var(--wp--custom--form--default--input--padding, .2rem .5rem);
$input_font_size: var(--wp--custom--form--default--input--font-size, inherit);
$input_height: var(--wp--custom--form--default--input--height, 2.5rem);
$input_color_background: var(--wp--custom--form--default--input--color--background, white);
$input_color_text: var(--wp--custom--form--default--input--color--text, inherit);
$input_color_placeholder: var(--wp--custom--form--default--input--color--placeholder, gray);
$input_border_color: var(--wp--custom--form--default--input--border--color, transparent);
$input_border_width: var(--wp--custom--form--default--input--border--width, 1px);
$input_border_radius: var(--wp--custom--form--default--input--border--radius, 0);
$input_border_style: var(--wp--custom--form--default--input--border--style, solid);

/* INPUT FOCUS */
$input_focus_color_background: var(--wp--custom--form--default--input--focus--color--background, $input_color_background);
$input_focus_border_color: var(--wp--custom--form--default--input--focus--border--color, $input_border_color);

/* INPUT ERROR */
$input_error_color_background: var(--wp--custom--form--default--input--error--color--background, $input_color_background);
$input_error_color_text: var(--wp--custom--form--default--input--error--color--text, $input_color_text);
$input_error_color_placeholder: var(--wp--custom--form--default--input--error--color--placeholder, $input_color_placeholder);
$input_error_border_color: var(--wp--custom--form--default--input--error--border--color, darkred);

/* CHECKBOX */
$checkbox_icon: var(--wp--custom--form--default--checkbox--icon);
$checkbox_color_background: var(--wp--custom--form--default--checkbox--color--background, $input_color_background);
$checkbox_color_text: var(--wp--custom--form--default--checkbox--color--text, $input_color_text);
$checkbox_height: var(--wp--custom--form--default--checkbox--height, $input_height);
$checkbox_border_width: var(--wp--custom--form--default--checkbox--border--width, $input_border_width);
$checkbox_border_color: var(--wp--custom--form--default--checkbox--border--color, $input_border_color);
$checkbox_border_style: var(--wp--custom--form--default--checkbox--border--style, $input_border_style);
$checkbox_border_radius: var(--wp--custom--form--default--checkbox--border--radius, $input_border_radius);

/* CHECKBOX ACTIVE */
$checkbox_active_icon: var(--wp--custom--form--default--checkbox--active--icon);
$checkbox_active_color_background: var(--wp--custom--form--default--checkbox--active--color--background, $checkbox_color_background);
$checkbox_active_color_text: var(--wp--custom--form--default--checkbox--active--color--text, $checkbox_color_text);
$checkbox_active_border_color: var(--wp--custom--form--default--checkbox--active--border--color, $checkbox_border_color);

/* RADIO */
$radio_icon: var(--wp--custom--form--default--radio--icon, $checkbox_active_icon);
$radio_border_radius: var(--wp--custom--form--default--radio--border--radius, $checkbox_border_radius);

/* BUTTON */
$button_icon: var(--wp--custom--form--default--button--icon);
$button_icon_color: var(--wp--custom--form--default--button--color--icon, inherit);
$button_width: var(--wp--custom--form--default--button--width, auto);
$button_height: var(--wp--custom--form--default--button--height, $input_height);
$button_padding: var(--wp--custom--form--default--button--padding, .2rem 1rem);
$button_font_size: var(--wp--custom--form--default--button--font-size, 1rem);
$button_text_transform: var(--wp--custom--form--default--button--text-transform, none);
$button_color_background: var(--wp--custom--form--default--button--color--background, var(--wp--preset--color--primary));
$button_color_text: var(--wp--custom--form--default--button--color--text, white);
$button_border_width: var(--wp--custom--form--default--button--border--width, 0);
$button_border_color: var(--wp--custom--form--default--button--border--color, var(--wp--preset--color--primary));
$button_border_radius: var(--wp--custom--form--default--button--border--radius, 0);
$button_hover_color_background: var(--wp--custom--form--default--button--hover--color--background, var(--wp--preset--color--primary-hover));
$button_hover_color_text: var(--wp--custom--form--default--button--hover--color--text, white);
$button_hover_border_color: var(--wp--custom--form--default--button--hover--border--color, var(--wp--preset--color--primary-hover));

/* LABEL DARK */
$dark_label_color: var(--wp--custom--form--dark--label--color, inherit);
$dark_label_weight: var(--wp--custom--form--dark--label--weight, inherit);
$dark_label_gap: var(--wp--custom--form--dark--label--gap, $label_gap);

/* INPUT DARK */
$dark_input_padding: var(--wp--custom--form--dark--input--padding, $input_padding);
$dark_input_color_background: var(--wp--custom--form--dark--input--color--background, $input_color_background);
$dark_input_color_text: var(--wp--custom--form--dark--input--color--text, inherit);
$dark_input_color_placeholder: var(--wp--custom--form--dark--input--color--placeholder, $input_color_placeholder);
$dark_input_border_color: var(--wp--custom--form--dark--input--border--color, $input_border_color);
$dark_input_border_radius: var(--wp--custom--form--dark--input--border--radius, $input_border_radius);
$dark_input_border_style: var(--wp--custom--form--dark--input--border--style, $input_border_style);
$dark_input_border_width: var(--wp--custom--form--dark--input--border--width, $input_border_width);

/* INPUT FOCUS DARK */
$dark_input_focus_color_background: var(--wp--custom--form--dark--input--focus--color--background, $input_focus_color_background);
$dark_input_focus_border_color: var(--wp--custom--form--dark--input--focus--border--color, $input_focus_border_color);

/* INPUT ERROR DARK */
$dark_input_error_color_background: var(--wp--custom--form--dark--input--error--color--background, $input_error_color_background);
$dark_input_error_color_text: var(--wp--custom--form--dark--input--error--color--text, $input_error_color_text);
$dark_input_error_color_placeholder: var(--wp--custom--form--dark--input--error--color--placeholder, $input_color_placeholder);
$dark_input_error_border_color: var(--wp--custom--form--dark--input--error--border--color, $input_error_border_color);

/* CHECKBOX DARK */
$dark_checkbox_color_background: var(--wp--custom--form--dark--checkbox--color--background, $checkbox_color_background);
$dark_checkbox_color_text: var(--wp--custom--form--dark--checkbox--color--text, $checkbox_color_text);
$dark_checkbox_border_color: var(--wp--custom--form--dark--checkbox--border--color, $checkbox_border_color);

/* CHECKBOX ACTIVE DARK */
$dark_checkbox_active_color_background: var(--wp--custom--form--dark--checkbox--active--color--background, $checkbox_active_color_background);
$dark_checkbox_active_color_text: var(--wp--custom--form--dark--checkbox--active--color--text, $checkbox_active_color_text);
$dark_checkbox_active_border_color: var(--wp--custom--form--dark--checkbox--active--border--color, $checkbox_active_border_color);

/* BUTTON DARK */
$dark_button_icon: var(--wp--custom--form--dark--button--icon);
$dark_button_icon_color: var(--wp--custom--form--dark--button--color--icon, inherit);
$dark_button_color_background: var(--wp--custom--form--dark--button--color--background, var(--wp--preset--color--primary));
$dark_button_color_text: var(--wp--custom--form--dark--button--color--text, white);
$dark_button_border_color: var(--wp--custom--form--dark--button--border--color, var(--wp--preset--color--primary));
$dark_button_hover_color_background: var(--wp--custom--form--dark--button--hover--color--background, var(--wp--preset--color--primary-hover));
$dark_button_hover_color_text: var(--wp--custom--form--dark--button--hover--color--text, white);
$dark_button_hover_border_color: var(--wp--custom--form--dark--button--hover--border--color, var(--wp--preset--color--primary-hover));

/* INLINE */
$inline_form_align: var(--wp--custom--form--inline--container--align, inherit);
$inline_form_gap_row: var(--wp--custom--form--inline--container--gap--row, .5rem);
$inline_form_gap_wrapper: var(--wp--custom--form--inline--container--gap--wrapper, 1rem);
$inline_button_color_background: var(--wp--custom--form--inline--button--color--background, var(--wp--preset--color--primary));
$inline_button_color_text: var(--wp--custom--form--inline--button--color--text, white);
$inline_button_border_color: var(--wp--custom--form--inline--button--border--color, var(--wp--preset--color--primary));
$inline_button_border_radius: var(--wp--custom--form--inline--button--border--radius, 0);
$inline_button_hover_color_background: var(--wp--custom--form--inline--button--hover--color--background, var(--wp--preset--color--primary-hover));
$inline_button_hover_color_text: var(--wp--custom--form--inline--button--hover--color--text, white);
$inline_button_hover_border_color: var(--wp--custom--form--inline--button--hover--border--color, var(--wp--preset--color--primary-hover));
$inline_button_padding: var(--wp--custom--form--inline--button--padding, .2rem 1rem);
$inline_input_padding: var(--wp--custom--form--inline--input--padding, .2rem .5rem);
$inline_input_height: var(--wp--custom--form--inline--input--height, 2.5rem);
$inline_input_color_background: var(--wp--custom--form--inline--input--color--background, $input_color_background);
$inline_input_color_text: var(--wp--custom--form--inline--input--color--text, inherit);
$inline_input_color_placeholder: var(--wp--custom--form--inline--input--color--placeholder, $input_color_placeholder);
$inline_input_border_color: var(--wp--custom--form--inline--input--border--color, $input_border_color);
$inline_input_border_width: var(--wp--custom--form--inline--input--border--width, $input_border_width);
$inline_input_border_radius: var(--wp--custom--form--inline--input--border--radius, $input_border_radius);
$inline_input_border_style: var(--wp--custom--form--inline--input--border--style, $input_border_style);
$inline_input_error_color_background: var(--wp--custom--form--inline--input--error--color--background, $input_color_background);
$inline_input_error_color_text: var(--wp--custom--form--inline--input--error--color--text, $input_color_text);
$inline_input_error_color_placeholder: var(--wp--custom--form--inline--input--error--color--placeholder, $input_color_placeholder);
$inline_input_error_border_color: var(--wp--custom--form--inline--input--error--border--color, darkred);


.gform_wrapper.gravity-theme {

  /* INPUT */
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel],
  textarea,
  select {
    font-size: $input_font_size !important;
    min-height: $input_height !important;
    background-color: $input_color_background !important;
    color: $input_color_text !important;
    border-color: $input_border_color !important;
    border-width: $input_border_width !important;
    border-radius: $input_border_radius !important;
    border-style: $input_border_style !important;
    padding: $input_padding !important;

    &::placeholder {
      color: $input_color_placeholder !important;
    }

    &:focus {
      background-color: $input_focus_color_background !important;
      border-color: $input_focus_border_color !important;
    }
  }


  /* CONTAINER */
  & > form {
    row-gap: $form_gap_wrapper !important;
    text-align: $form_align !important;
  }

  .gform_fields {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $form_gap_col !important;
    row-gap: $form_gap_row !important;

    .ginput_complex {
      column-gap: $form_gap_col !important;
      row-gap: $form_gap_row !important;
    }

  }

  /* LABEL */
  .gfield_label {
    font-weight: $label_weight !important;
    color: $label_color !important;
    text-transform: $label_text_transform !important;
    font-size: $label_font_size !important;
  }

  & > form .gfield {
    gap: $label_gap;
  }

  /* CHECKBOX */
  .gfield_radio,
  .gfield_checkbox {

    .gchoice {
      label {
        &:before {
          content: $checkbox_icon !important;
          background: $checkbox_color_background !important;
          color: $checkbox_color_text !important;
          height: $checkbox_height !important;
          border-width: $checkbox_border_width !important;
          border-color: $checkbox_border_color !important;
          border-style: $checkbox_border_style !important;
        }
      }

      input:checked ~ label:before {
        background: $checkbox_active_color_background !important;
        border: $checkbox_active_border_color !important;
        color: $checkbox_active_color_text !important;
      }
    }
  }

  .gfield_checkbox {
    .gchoice {
      label {
        &:before {
          border-radius: $checkbox_border_radius !important;
        }
      }

      input:checked ~ label:before {
        content: $checkbox_active_icon !important;
      }
    }
  }

  .gfield_radio {
    .gchoice {
      label {
        &:before {
          border-radius: $radio_border_radius !important;
        }
      }

      input:checked ~ label:before {
        content: $radio_icon !important;
      }
    }
  }

  /* BUTTON */
  .gform_button,
  .gform_next_button,
  .gform_previous_button {
    min-width: $button_width !important;
    height: $button_height !important;
    line-height: 1 !important;
    padding: $button_padding !important;
    font-size: $button_font_size !important;
    text-transform: $button_text_transform !important;
    background-color: $button_color_background !important;
    color: $button_color_text !important;
    border-width: $button_border_width !important;
    border-color: $button_border_color !important;
    border-radius: $button_border_radius !important;
    white-space: nowrap;

    &:hover {
      background-color: $button_hover_color_background !important;
      border-color: $button_hover_border_color !important;
      color: $button_hover_color_text !important;
    }

  }

  .divlabs-form-block--button-icon & {
    .gform_button {

      &:after {
        content: $button_icon;
        color: $button_icon_color;
        line-height: 1;
      }
    }
  }

}


/* INLINE */
.divlabs-form {
  &--inline {
    .gform_wrapper.gravity-theme {
      & > form {
        text-align: $inline_form_align !important;
        gap: $inline_form_gap_wrapper !important;
      }

      .gform_fields {
        column-gap: $inline_form_gap_row !important;
        row-gap: $form_gap_col !important;

        .ginput_complex {
          gap: $inline_form_gap_row !important;
        }
      }

      .gform_button,
      .gform_next_button,
      .gform_previous_button {
        height: $inline_input_height !important;
        line-height: $inline_input_height !important;
        padding: $inline_button_padding !important;
        background-color: $inline_button_color_background !important;
        color: $inline_button_color_text !important;
        border-color: $inline_button_border_color !important;
        border-radius: $inline_button_border_radius !important;

        &:hover {
          background-color: $inline_button_hover_color_background !important;
          border-color: $inline_button_hover_border_color !important;
          color: $inline_button_hover_color_text !important;
        }

      }

      input[type=text],
      input[type=number],
      input[type=email],
      input[type=tel],
      textarea,
      select {
        height: $inline_input_height !important;
        background-color: $inline_input_color_background !important;
        color: $inline_input_color_text !important;
        border-color: $inline_input_border_color !important;
        border-width: $inline_input_border_width !important;
        border-radius: $inline_input_border_radius !important;
        border-style: $inline_input_border_style !important;
        padding: $inline_input_padding !important;

        &::placeholder {
          color: $inline_input_color_placeholder !important;
        }

      }

      &.gform_validation_error {
        .gfield.gfield_error {

          input,
          textarea,
          select {
            background-color: $inline_input_error_color_background !important;
            color: $inline_input_error_color_text !important;
            border-color: $inline_input_error_border_color !important;

            &::placeholder {
              color: $inline_input_error_color_placeholder !important;
            }
          }
        }
      }
    }
  }
}

/* DARK */
.divlabs-form {
  &--button-icon.divlabs-form--dark {
    .gform_button {

      &:after {
        content: $dark_button_icon;
        color: $dark_button_icon_color;
      }

      &:hover:after {
        color: inherit !important
      }
    }
  }


  &--dark {

    .gform_wrapper.gravity-theme {

      .gfield {

        gap: $dark_label_gap;

        input[type=text],
        input[type=email],
        input[type=tel],
        textarea,
        select {
          background-color: $dark_input_color_background !important;
          color: $dark_input_color_text !important;
          border-color: $dark_input_border_color !important;
          border-style: $dark_input_border_style !important;
          border-width: $dark_input_border_width !important;
          border-radius: $dark_input_border_radius !important;
          padding: $dark_input_padding !important;

          &::placeholder {
            color: $dark_input_color_placeholder !important;
          }

          &:focus {
            background-color: $dark_input_focus_color_background !important;
            border-color: $dark_input_focus_border_color !important;
          }
        }
      }

      .gfield_radio,
      .gfield_checkbox {

        .gchoice {
          label {
            &:before {
              background: $dark_checkbox_color_background !important;
              color: $dark_checkbox_color_text !important;
              border-color: $dark_checkbox_border_color !important;
            }
          }

          input:checked ~ label:before {
            background: $dark_checkbox_active_color_background !important;
            border: $dark_checkbox_active_border_color !important;
            color: $dark_checkbox_active_color_text !important;
          }
        }
      }

      .gform_button,
      .gform_next_button,
      .gform_previous_button {
        background-color: $dark_button_color_background !important;
        color: $dark_button_color_text !important;
        border-color: $dark_button_border_color !important;

        &:hover {
          background-color: $dark_button_hover_color_background !important;
          color: $dark_button_hover_color_text !important;
          border-color: $dark_button_hover_border_color !important;
        }
      }

      .gfield_label {
        color: $dark_label_color !important;
        font-weight: $dark_label_weight !important;
      }


      &.gform_validation_error {
        .gfield.gfield_error {

          input,
          textarea,
          select {
            background-color: $dark_input_error_color_background !important;
            color: $dark_input_error_color_text !important;
            border-color: $dark_input_error_border_color !important;

            &::placeholder {
              color: $dark_input_error_color_placeholder !important;
            }
          }
        }
      }

    }


  }
}

/* ERROR */

.gform_wrapper.gravity-theme.gform_validation_error {
  .gfield.gfield_error {

    input,
    textarea,
    select {
      background-color: $input_error_color_background !important;
      color: $input_error_color_text !important;
      border-color: $input_error_border_color !important;

      &::placeholder {
        color: $input_error_color_placeholder !important;
      }
    }
  }
}


/* ***** LAYOUT ***** */
.gform_wrapper.gravity-theme {
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel],
  textarea,
  select {
    display: block !important;
    width: 100% !important;

    @apply
    outline-none
  }
}


.divlabs-form {
  @apply
  flex
  flex-col
  w-full
  ;

  & > p {
    @apply
    hidden
  }

  &.active form {
    @apply
    opacity-40
    pointer-events-none
  }

  &--center {

    .gform_wrapper.gravity-theme {
      .gform_footer,
      .gform_page_footer {
        @apply
        flex
        flex-wrap
        justify-center
      }
    }

  }

  &--inline {

    .gform_wrapper.gravity-theme {

      .gform-body {
        @apply
        grow
      }

      & > form {
        @apply
        flex-row
        items-end
      }

      .gform_fields {
        @apply
        h-full
        flex
      }

      .gfield {
        @apply
        h-full
      }

      .ginput_container {
        @apply
        h-full
      }
    }

  }

}

.gf_invisible {
  @apply
  hidden
}


@media screen and (max-width: 768px) {
  .divlabs-form--collapse {
    .gform_wrapper.gravity-theme {
      .gform_fields {
        .gfield[class*='gfield--width'] {
          grid-column: 1 / -1 !important;
        }
      }
    }
  }
}

.gform_wrapper.gravity-theme {

  .gform_page_footer {
    padding: 0;
    gap: 1rem;
    @apply
    w-full
    flex
    justify-between
  }

  .gfield--type-section {

    margin: 0;
  }

  .gform_fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;


    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(12, 1fr) !important;
    }
    @media screen and (max-width: 768px) {
      .gfield.gfield--width-half {
        grid-column: span 1 !important;
      }
    }

    .gfield.gfield--width-half {
      @media screen and (min-width: 768px) {
        grid-column: span 6;
      }
    }

    .gfield.gfield--width-third {
      @media screen and (min-width: 768px) {
        grid-column: span 4;
      }
    }

    .gfield.gfield--width-quarter {
      @media screen and (min-width: 768px) {
        grid-column: span 3;
      }
    }

    .gfield.gfield--width-full {
      grid-column: 1 / -1 !important;
    }

    .ginput_complex {
      gap: 1rem;
      @apply
      flex
      flex-wrap
      ;

      [class*='gform-grid-col'] {
        @apply
        grow
      }
    }

  }

  .gform_button,
  .gform_next_button,
  .gform_previous_button {
    margin: 0 !important;

    @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-right: 0;
    }

    @apply
    mx-auto
    cursor-pointer
    transition-colors
    duration-300
    inline-flex
    justify-center
    items-center
  }

  .gform_button {

    &:after {
      font-family: 'Font Awesome 6 Pro', sans-serif;
      margin-left: .5rem;
      @apply
      inline-block
    }

    &:hover:after {
      color: inherit !important
    }
  }

  & > form {
    @apply
    transition-opacity
    flex
    flex-col
    ;

    .gfield {
      @apply
      w-full
      flex
      flex-col
      relative
      ;

      &:is(fieldset) {

        margin-bottom: .5rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        .gfield_label {
          font-weight: bold;
        }
      }

      textarea {

        &.small {

        }
      }

      input[type=text],
      input[type=email],
      input[type=tel],
      {
        text-align: inherit;
        @apply
        w-full
      }

      select {
        padding-right: 2rem;
        @apply
        appearance-none
      }

      .ginput_container_select {
        @apply
        relative
        ;

        &:after {
          content: '\f078';
          top: 0;
          right: 0;
          bottom: 0;
          font-family: 'Font Awesome 6 Pro', sans-serif;
          font-size: var(--wp--preset--font-size--normal);
          width: 2rem;
          @apply
          absolute
          flex
          justify-center
          items-center
          select-none
          pointer-events-none
        }
      }

      &--type-hidden {
        @apply
        hidden
      }

      &--width-half {
        @apply
        col-span-6
      }

      &--type-honeypot {
        top: 0;
        height: 0;
        width: 0;
        @apply
        absolute
        overflow-hidden
        z-0
      }

    }

    .gfield_label {
      margin: 0;
      line-height: var(--wp--preset--line-height--small);
      @apply
      relative
      w-full
      block
    }

    .gfield.hidden_label .gfield_label {
      @apply
      hidden
    }

    .gfield--type-choice {

      margin-top: .5rem;

      &:first-child {
        margin-top: 0;
      }
    }

    .gfield_required {
      font-size: inherit !important;
      padding: 0;
      margin-left: .5rem;
      line-height: 1;
      color: gray;
      @apply
      inline-block
      ;

      .gfield_required_text {
        @apply
        hidden
      }

      &:before {
        content: '*';
        line-height: inherit;
        font-size: inherit;
      }
    }

    .gform_footer {
      display: block;
      padding: 0 !important;
      margin: 0 !important;

      p, br {
        @apply
        hidden
      }
    }
  }
}


.gform_wrapper.gravity-theme {
  form {
    @apply
    transition-opacity
    duration-300
  }

  @keyframes wiggle {
    25% {
      transform: translate(-2px, 0)
    }
    50% {
      transform: translate(0, 0)
    }
    75% {
      transform: translate(2px, 0)
    }
    100% {
      transform: translate(0, 0)
    }

  }

  &.gform_validation_error {

    .gform_body {

      animation: wiggle .2s ease-in-out 2;
    }

    .gfield.gfield_error {

      .ginput_container {
        @apply
        relative
        ;

        &:after {
          top: 0;
          font-size: var(--wp--preset--font-size--extra-small);
          transform: translateY(-50%);
          font-family: 'Font Awesome 6 Pro', sans-serif;
          color: darkred;
          right: .5rem;
          font-weight: bold;
          @apply
          content-['\f111']
          absolute
          pointer-events-none
        }
      }
    }
  }

  .gfield_radio {
    .gchoice label:before {
      border-radius: var(--wp--custom--form--radio--rounded) !important;
    }
  }

  .gfield_radio,
  .gfield_checkbox {
    gap: 1rem 2rem;
    @apply
    inline-flex
    flex-wrap
    justify-start
    items-center
    text-left
    relative
    select-none
    ;

    .gchoice {
      @apply
      flex
      relative
      ;

      input {
        width: 0;
        height: 0;
        @apply
        absolute
        overflow-hidden
        opacity-0
      }

      label {
        font-size: inherit;
        line-height: var(--wp--preset--line-height--normal);
        padding-left: 2rem;
        @apply
        relative
        cursor-pointer
        max-w-full
        ;

        &:before {
          content: '';
          height: 1.8em;
          border-style: solid;
          font-family: 'Font Awesome 6 Pro', sans-serif;
          font-size: var(--wp--preset--font-size--extra-small);
          line-height: 1;
          top: 0;
          left: 0;
          font-weight: bold;
          @apply
          absolute
          w-auto
          aspect-square
          flex
          justify-center
          items-center
          text-center
          overflow-hidden
        }
      }

      input:checked ~ label:before {
        font-family: 'Font Awesome 6 Pro', sans-serif;
        color: white;
      }
    }
  }

  .validation_message {
    @apply
    hidden
  }

  .gform_ajax_spinner,
  .gform-loader {
    display: none !important;
  }

  .gform_validation_errors {
    @apply
    hidden
  }

}


div.ui-datepicker.gravity-theme#ui-datepicker-div[style] {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 10000009999999999 !important;
  max-width: 100%;
  background-color: rgba(0, 0, 0, .3);
  @apply
  w-full
  h-full
  flex
  flex-col
  items-center
  justify-center
  text-center
  pointer-events-none
  ;

  .ui-datepicker-calendar,
  .ui-datepicker-header {
    background-color: white;
    max-width: 22rem;
    @apply
    w-full
    pointer-events-auto
  }

  .ui-datepicker-header {
    gap: .5rem;
    padding: 1rem;
    @apply
    flex
    justify-center
    items-center
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    height: 1.5rem;
    font-size: .9rem;
    line-height: 1.5rem;
    font-family: 'Font Awesome 6 Pro', sans-serif;
    background: transparent;
    @apply
    aspect-square
    block
    text-center
    cursor-pointer
    transition-colors
    grow-0
    shrink-0

    ;

    & > span {
      @apply
      hidden
    }
  }

  .ui-datepicker-prev {
    @apply
    before:content-['\f060']
    order-first
  }

  .ui-datepicker-next {
    @apply
    before:content-['\f061']
    order-last
  }

  .ui-datepicker-title {
    gap: 2rem;
    padding: .5rem;
    @apply
    grow
    h-full
    flex
    items-center

    ;

    font-size: var(--wp--preset--font-size--small);

    select {
      @apply
      w-full
      h-full
      bg-transparent
      cursor-pointer
      focus:outline-0

    }
  }

  /*.ui-datepicker-calendar {
    border: 1rem solid white;
    border-top-width: .5rem;
    @apply
    rounded-bl
    rounded-br
    overflow-hidden
  }*/

  .ui-datepicker-calendar {
    gap: .5rem;
    padding: .5rem 1rem;
    @apply
    w-full
    flex
    flex-col
    overflow-hidden
    ;

    thead {
      font-size: var(--wp--preset--font-size--small);
      line-height: var(--wp--preset--line-height--small);
      font-weight: bold;
      @apply
      text-center
    }

    tbody {
      //grid-template-rows: repeat(6, 1fr);
      gap: .5rem;
      @apply
      grid
      grid-rows-6
    }

    tr {
      gap: .5rem;
      @apply
      w-full
      grid
      grid-cols-7
    }

    td, th {
      @apply
      w-full
      aspect-square
      flex
      ;

      & > span,
      & > a {
        @apply
        w-full
        h-full
        flex
        justify-center
        items-center
        bg-transparent
      }
    }

    td {
      @apply
      transition-colors
      ;

      & > span,
      & > a {

      }

      &:has(span) {
        @apply
        opacity-40
        bg-transparent
      }

      &:has(a) {
        @apply
        cursor-pointer
      }
    }
  }


}