.wpbs-modal__container:has(> .wpbs-lightbox) {
  padding: 0 !important;
}

.wpbs-lightbox {
  pointer-events: none !important;
  height: 100svh;
  @apply
  w-full
  p-0
  overflow-hidden
  ;

  img, picture {
    @apply
    object-contain
    w-auto
    h-full
    pointer-events-none
    max-w-full
  }

  .wpbs-lightbox__media {
    padding: min(1.25rem, 2vh) .5rem;
    @apply
    w-fit
    h-full
    pointer-events-auto
    relative
    overflow-hidden
    max-w-full
    flex
    justify-center
    items-center
    m-auto
    ;

    &.--video {
      max-width: 72rem;
      @apply
      w-full
      aspect-video
    }
  }

  .wpbs-lightbox__slider.swiper {
    grid-template-rows: calc(100% - clamp(24px, 3rem, 5vh)) 1fr;
    @apply
    grid
    grid-cols-1
    justify-start
    gap-0
    h-full
    pointer-events-none
    ;

    &.swiper--disabled {
      grid-template-rows: 100%;
    }

    .swiper-slide {
      pointer-events: none;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      @apply
      grid
    }
  }

  iframe {
    max-width: min(110svh, 72rem);

    @apply
    pointer-events-auto
    aspect-video
    md:h-auto
    md:w-full
    w-full
    h-auto
    select-none
    rounded
    overflow-hidden
    bg-black/50
  }

  .wpbs-lightbox-nav {
    z-index: 200;
    display: flex !important;
    height: clamp(24px, 3rem, 5vh);
    opacity: 1 !important;

    @apply
    pointer-events-auto
    w-full
    items-center
    justify-center
    bg-black/50
    text-center
    absolute
    left-0
    bottom-0
    text-white
    ;

    &:has(> button.swiper-button-lock) {
      display: none !important;
    }

    .wpbs-lightbox-nav__button {
      //background: transparent !important;
      font-size: 1.2rem !important;
      line-height: 1.3em !important;
      color: white !important;
      height: 1.4em !important;

      @apply
      aspect-square
      cursor-pointer
    }


    .wpbs-lightbox-nav__pagination {
      @apply
      max-w-12
      relative
      top-auto
      left-auto
    }
  }


}

.wpbs-lightbox--group .wpbs-lightbox-nav__btn {
  font-size: clamp(20px, 1.8rem, 4vh);
  height: 100%;
}



