.wpbs-modal__container:has(> .wpbs-lightbox) {
  padding: 0 !important;
}

.wpbs-lightbox {
  pointer-events: none !important;
  height: 100svh;
  @apply
  w-full
  p-0
  overflow-hidden
  ;

  img, picture {
    pointer-events: auto !important;
    @apply
    object-contain
    w-auto
    h-auto
    max-w-full
    max-h-full
    select-none
    m-auto
  }


  .wpbs-lightbox-swiper {
    grid-template-rows: calc(100% - clamp(24px, 3rem, 5vh)) 1fr;

    @apply
    grid
    grid-cols-1
    justify-start
    gap-0
    h-full
    pointer-events-none
    ;

    &.swiper--disabled {
      grid-template-rows: 100%;
    }

    .wpbs-lightbox-slide {
      pointer-events: none;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      @apply
      w-full
      h-full
      pointer-events-none
      relative
      overflow-hidden
      max-w-full
      max-h-full
      grid
      justify-center
      items-center
      p-3
      lg:p-5
      xl:p-6
      ;

      .wpbs-video {
        color: white;

        img {
          @apply
          w-full
          h-full
          object-cover
        }
      }

      & > .swiper-zoom-container * {
        pointer-events: auto;
      }
    }

    .wpbs-lightbox-nav {
      z-index: 200;
      display: flex !important;
      height: clamp(24px, 3rem, 5vh);
      opacity: 1 !important;

      @apply
      gap-3
      pointer-events-auto
      w-full
      items-center
      justify-center
      bg-black/50
      text-center
      absolute
      left-0
      bottom-0
      text-white
      ;

      &:has(> button.swiper-button-lock) {
        display: none !important;
      }

      .wpbs-lightbox-nav__button {
        font-size: 1.3rem !important;
        line-height: 1.3em !important;
        color: white !important;
        height: 1.3em !important;
        width: 1.3em !important;
        position: relative !important;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none !important;
        margin: 0 !important;

        @apply
        aspect-square
        cursor-pointer
        ;

        &:after {
          content: none !important;
        }

        & > svg {
          display: none !important;
        }
      }


      .wpbs-lightbox-nav__pagination {
        @apply
        max-w-12
        relative
        top-auto
        left-auto
      }
    }
  }

  .wpbs-video {
    max-width: min(140svh, 92rem);
    margin: auto;

    @apply
    pointer-events-auto
    aspect-video
    h-auto
    w-full
    select-none
    rounded
    overflow-hidden
    bg-black/70
  }


}

.wpbs-lightbox--group .wpbs-lightbox-nav__btn {
  font-size: clamp(20px, 1.8rem, 4vh);
  height: 100%;
}



