.wpbs-loader {
  @apply
  fixed
  top-0
  left-0
  w-full
  h-full
  z-[9999999999999]
  flex
  justify-center
  items-center
  ;

  &.target {
    @apply
    absolute
  }

  &.reverse &__anim {
    background: white;
  }

  &__anim {
    width: 60px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--wp--preset--color--primary);
    --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
    position: relative;
    z-index: 10;
  }

  &:before {
    background-color: var(--wp--custom--loader--background, transparent);
    opacity: var(--wp--custom--loader--opacity, 0);

    @apply
    content-['']
    absolute
    top-0
    left-0
    w-full
    h-full
    z-0
    pointer-events-none
  }

  @keyframes l3 {
    to {
      transform: rotate(1turn)
    }
  }
}