body:not(.icons-loaded) .material-symbols-outlined,
body:not(.icons-loaded) .material-icon-before:before {
  //visibility: hidden !important;
  //overflow: hidden !important;
}

.material-symbols-outlined,
.material-icon-before:before {
  font-family: "Material Symbols Outlined", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  height: 1em;
  width: 1em;
  display: inline-flex;
}

.wpbs-social-icons {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 100%;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}