body:not(.icons-loaded):not(.block-editor-iframe__body) .material-symbols-outlined,
body:not(.icons-loaded):not(.block-editor-iframe__body) .material-icon-before:before {
  visibility: hidden !important;
  overflow: hidden !important;
}

.block-editor-iframe .material-symbols-outlined,
.block-editor-iframe .material-icon-before:before {
  visibility: visible !important;
}

.wpbs-social-icons {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 100%;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.wpbs-icon,
.material-symbols-outlined.wpbs-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: text-bottom;
  line-height: inherit;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  background-clip: text !important;
}