.wpbs-modal {
  backdrop-filter: grayscale(.8) blur(7px);
  -webkit-backdrop-filter: grayscale(.8) blur(7px);
  z-index: 900;

  &::before {
    content: '';
    transition-timing-function: linear !important;
    @apply fixed top-0 left-0 w-full h-full bg-black/70 z-0 pointer-events-none;
  }

  &.active {
    @apply opacity-100 pointer-events-auto duration-500 ease-linear;
  }

  &.wpbs-modal--full .wpbs-modal__container {
    padding: 0 !important;
    @apply w-full h-full;
  }

  .wpbs-modal__container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    grid-template-columns: 100%;
    padding-bottom: min(7vh, 7rem) !important;
    @apply w-full grid transition-all delay-0 opacity-0 m-auto bg-transparent z-20 max-h-full max-w-full overflow-auto justify-start items-center ease-out duration-500 min-h-full;

    > * {
      @apply pointer-events-auto;
    }
  }

  &.active .wpbs-modal__container {
    transition: opacity 0.4s linear 0.3s, transform 0.4s ease-out 0.3s !important;
    @apply opacity-100 translate-y-0;
  }

  &.active .wpbs-modal__close {
    @apply opacity-70;
  }
}