.wpbs-site-header {
  height: var(--wpbs-header-height, 70px);
  z-index: 90;
  @apply relative top-0 left-0 w-full flex items-stretch transition-transform duration-500;
}

&.--sticky {
  @apply fixed;
}

&.--float {
  @apply absolute;
}

/* Logo */
.wpbs-site-header .wpbs-logo {
  @apply block;
}

.wpbs-site-header .wpbs-logo--reverse {
  @apply hidden;
}

/* Animation class */
.wpbs-site-header.animating {
  @apply -translate-y-full;
}

/* Sticky offset */
body.--header-sticky > .wp-site-blocks {
  padding-top: var(--wpbs-header-height);
}

/* Float layout offset */
:root:has(.wpbs-site-header.--float) {
  --wpbs-header-offset: 0px;
}

:root:has(.wpbs-site-header.--float) .wp-site-blocks {
  padding-top: 0;
}
