
.wpbs-slider.swiper {
  .wpbs-slider-navigation {
    background: transparent !important;
    width: 100%;
    --btn-scale: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;


    .wpbs-slider-button {
      transition: opacity 0.3s;
      transform-origin: center;
      transform: translateY(-50%) scale(var(--btn-scale, 1));
      position: absolute;
      top: 50%;
      pointer-events: auto;
      height: 1.2em;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-shrink: 0;
      cursor: pointer;
      user-select: none;
      appearance: none;
      outline: none;
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;
      z-index: 100;

      &.swiper-button-prev {

        &:after {
          content: none;
        }
      }

      &.swiper-button-next {

        &:after {
          content: none;
        }
      }
    }

    .wpbs-slider-button:active {
      --btn-scale: 1.07;
    }

    .wpbs-slider-button--prev {
      left: 0.5rem;
    }

    .wpbs-slider-button--next {
      right: 0.5rem;
    }

    .wpbs-slider-pagination {
      position: absolute;
      top: auto;
      right: auto;
      left: 50%;
      bottom: 0.5rem;
      transform: translateX(-50%);
      height: 4px;
      width: 5rem;
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      line-height: 1;

      &:empty {
        display: none;
      }
    }

    .wpbs-slider-pagination.swiper-pagination-bullets {
      width: auto;
      height: auto;
      max-width: 100%;
      display: block;

      > .swiper-pagination-bullet {
        transform: scale(1);
        opacity: 0.6;
        pointer-events: auto;
        aspect-ratio: 1 / 1;
        width: auto;

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }

  .wpbs-slider-navigation.is-style-group {
    transform: none;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    position: relative;
    width: fit-content;
    display: inline-flex;
    height: auto;

    .wpbs-slider-button,
    .wpbs-slider-pagination {
      transform: none;
      top: unset;
      left: unset;
      right: unset;
      bottom: unset;
      position: relative;
    }

    .wpbs-slider-button {
      transform: scale(var(--btn-scale, 1));
    }
  }
}