.wpbs-slider .swiper-slide {
  height: auto;
}

.swiper:not(.swiper--init) .swiper-wrapper {
  width: 100%;
}

.swiper .swiper-wrapper {
  min-width: 100%;
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
}

.swiper .swiper-slide {
  width: 100%;
  flex-shrink: 0;
  margin-right: var(--margin, 0px);
}

.swiper:not(.swiper--init) .swiper-slide {
  max-width: calc((100% - (var(--margin, 0px) * (var(--slides, 1) - 1))) / var(--slides, 1));
}

/* Fade-in modifier */
.wpbs-slider--fade-in {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.wpbs-slider--fade-in.swiper-initialized {
  opacity: 1;
}

/* Collapse + disabled modifiers */
.wpbs-slider--collapse.swiper--disabled .swiper-wrapper {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  gap: inherit !important;
}

.wpbs-slider--collapse.swiper--disabled .swiper-slide {
  flex-grow: 0 !important;
  height: auto !important;
}

/* Initialized slider with active slide pointer-events */
.wpbs-slider.swiper-initialized .swiper-slide {
  /* pointer-events: none; */
  /* commented out as in original */

}

.wpbs-slider.swiper-initialized .swiper-slide.swiper-slide-active {
  pointer-events: auto;
}

/* Disabled buttons */
.wpbs-slider .swiper-button-disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Slider nav hidden when not initialized */
.wpbs-slider:not(.swiper-initialized) .wpbs-slider-nav {
  pointer-events: none !important;
}


.wpbs-slider.swiper {


  .wpbs-slider-nav {
    --btn-scale: 1;
    @apply
    absolute
    top-0
    left-0
    w-full
    h-full
    pointer-events-none
    z-50
    flex
    items-center
    justify-center
    gap-4
    ;


    .wpbs-slider-nav__btn {
      transition: opacity 0.3s;
      transform-origin: center;
      transform: translateY(-50%) scale(var(--btn-scale, 1));
      @apply
      top-1/2
      pointer-events-auto
      h-[1.2em]
      aspect-square
      flex
      items-center
      justify-center
      text-center
      shrink-0
      absolute
      cursor-pointer
      select-none
    }

    .wpbs-slider-nav__btn:active {
      --btn-scale: 1.07;
    }

    .wpbs-slider-nav__btn--prev {
      @apply
      left-2
    }

    .wpbs-slider-nav__btn--next {
      @apply
      right-2
    }

    .wpbs-slider-nav__pagination {
      transform: translateX(-50%);
      height: 4px;
      width: 5rem;
      flex-shrink: 0;
      @apply
      absolute top-auto right-auto left-1/2 bottom-2
      inline-flex items-center justify-center gap-1 leading-none empty:hidden
    }

    .wpbs-slider-nav__pagination.swiper-pagination-bullets {
      width: auto;
      height: auto;
      max-width: 100%;
      display: block;

      & > .swiper-pagination-bullet {
        transform: scale(1);
        opacity: .6;
        pointer-events: auto;
        height: var(--wp--custom--slider--bullet--height, 10px);
        width: auto;
        aspect-ratio: 1/1;
        margin: 0 var(--wp--custom--slider--bullet--gap, 5px);
        background-color: var(--wp--custom--slider--bullet--background, var(--wp--preset--color--primary, currentColor));
        border-color: var(--wp--custom--slider--bullet--border--color, var(--wp--preset--color--primary, currentColor));
        border-width: var(--wp--custom--slider--bullet--border--width, 1px);
        border-style: var(--wp--custom--slider--bullet--border--style, none);

        &.swiper-pagination-bullet-active {
          opacity: 1;
          background-color: var(--wp--custom--slider--bullet--active--background, var(--wp--preset--color--primary, currentColor));
          border-color: var(--wp--custom--slider--bullet--active--border--color, var(--wp--preset--color--primary, currentColor));
          border-width: var(--wp--custom--slider--bullet--active--border--width, 1px);
          border-style: var(--wp--custom--slider--bullet--active--border--style, none);
        }
      }
    }


  }

  .wpbs-slider-nav.is-style-group {
    transform: none;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    @apply
    relative
    w-fit
    inline-flex
    h-auto
    ;

    .wpbs-slider-nav__btn,
    .wpbs-slider-nav__pagination {
      transform: none;
      top: unset;
      left: unset;
      right: unset;
      bottom: unset;
      position: relative;
      @apply
      relative
    }

    .wpbs-slider-nav__btn {
      transform: scale(var(--btn-scale, 1));
    }


  }

}