.wpbs-slider .swiper-pagination-progressbar {
  width: min(5rem, 100%) !important;
  height: 4px;
}

.wpbs-slider .swiper-slide {
  height: auto;
}

.swiper .swiper-wrapper {
  min-width: 100%;
}

.swiper .swiper-slide {
  width: 100%;
  flex-shrink: 0;
  max-width: calc((100% - (var(--margin, 0px) * (var(--slides, 1) - 1))) / var(--slides, 1));
  margin-right: var(--margin, 0px);
}

/* Fade-in modifier */
.wpbs-slider--fade-in {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.wpbs-slider--fade-in.swiper-initialized {
  opacity: 1;
}

/* Collapse + disabled modifiers */
.wpbs-slider--collapse.swiper--disabled .swiper-wrapper {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  gap: inherit !important;
}

.wpbs-slider--collapse.swiper--disabled .swiper-slide {
  flex-grow: 0 !important;
  height: auto !important;
}

/* Initialized slider with active slide pointer-events */
.wpbs-slider.swiper-initialized .swiper-slide {
  /* pointer-events: none; */
  /* commented out as in original */

}

.wpbs-slider.swiper-initialized .swiper-slide.swiper-slide-active {
  pointer-events: auto;
}

/* Disabled buttons */
.wpbs-slider .swiper-button-disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Slider nav hidden when not initialized */
.wpbs-slider:not(.swiper-initialized) .wpbs-slider-nav {
  opacity: 0;
  pointer-events: none !important;
}

.wpbs-slider:not(.swiper-initialized) .wpbs-slider-nav * {
  pointer-events: none !important;
}


.wpbs-slider.swiper {


  .wpbs-slider-nav {
    @apply
    pointer-events-none
    z-50
    flex
    items-center
    justify-center
    gap-4
    relative
  }


  .wpbs-slider-nav.--group {
    @apply
    absolute top-0 left-0 w-full h-full
    ;


    .wpbs-slider-nav__btn {
      @apply
      top-1/2
      -translate-y-1/2
      pointer-events-auto
      h-[1.2em]
      aspect-square
      flex
      items-center
      justify-center
      text-center
      shrink-0
      absolute
    }

    .wpbs-slider-nav__btn--prev {
      @apply
      left-2
    }

    .wpbs-slider-nav__btn--next {
      @apply
      right-2

    }

    .wpbs-slider-nav__pagination {
      @apply
      absolute top-auto right-auto left-1/2 bottom-2 -translate-x-1/2
    }

  }

  .wpbs-slider-nav__pagination {
    @apply
    inline-flex items-center justify-center w-fit max-w-full shrink gap-1 h-auto leading-none empty:hidden
    relative transform-none left-auto top-auto right-auto bottom-auto
  }


}