.wpbs-review-gallery .loop-card {
  max-width: calc((100% - (var(--margin, 0px) * (max(1, var(--slides, 1) - 1)))) / var(--slides, 1));
}

.wpbs-review-card.--modal {
  margin: auto !important;
  height: auto !important;

  .wpbs-review-content.--content {
    line-clamp: unset !important;
    overflow: unset !important;
    display: block !important;
  }
}