.wpbs-review-card.--modal {
  margin: auto !important;
  height: auto !important;

  .wpbs-review-content.--content {
    line-clamp: unset !important;
    overflow: unset !important;
    display: block !important;
  }
}