.wpbs-slider-navigation {
  background: transparent !important;

  .swiper-button-prev::after {
    content: var(--swiper-navigation-icon-prev);
    font-family: 'Material Symbols Outlined', sans-serif;
  }

  .swiper-button-next::after {
    content: var(--swiper-navigation-icon-next);
    font-family: 'Material Symbols Outlined', sans-serif;
  }
}