.wpbs-slider-navigation {
  background: transparent !important;
  width: 100%;

  &.is-style-group {
    width: fit-content;
  }

  .wpbs-slider-button {
    appearance: none;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 100;

    &.swiper-button-prev {

      &:after {
        content: none;
      }
    }

    &.swiper-button-next {

      &:after {
        content: none;
      }
    }

  }


}