@import "tailwindcss/theme.css" layer(utilities);

@import "./admin/acf";
@import "./admin/admin-menu";
@import "./admin/editor";
@import "./admin/layout-tools";
@import "./components/material-icons";
