@import "tailwindcss/theme.css" layer(utilities);

@source inline('justify-{start,end,center,between}');

@import "./admin/acf";
@import "./admin/admin-menu";
@import "./components/material-icons";

p:empty {
  display: none;
}

p:not(p + p) {
  margin-top: 0 !important;
}

p {
  margin-bottom: 0;
}