@reference "tailwindcss";


@import "./components/modal";
@import "./components/loader";
@import "./components/lightbox";
@import "./components/reveal";
@import "./components/forms";


.odometer {
  font-family: inherit !important;
}

@keyframes wiggle {
  25% {
    transform: translate(-2px, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(2px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}