@import "tailwindcss";

@import "./core/tw-base";
@import "./core/tw-components";
@import "./core/tw-utilities";
@import "./core/layout";
@import "./components/background";
@import "./components/container";
@import "./components/modal";
@import "./components/site-header";
@import "./components/loader";
@import "./components/lightbox";
@import "./components/slider";
@import "./components/reveal";
@import "./components/forms";

.odometer {
  font-family: inherit !important;
}


