@import "tailwindcss";

@import "./core/tw-base";
@import "./core/tw-components";
@import "./core/tw-utilities";

/* Core and structural */
@import "./core/layout";

/* Always-visible components */
@import "./components/background";
@import "./components/container";
@import "./components/site-header";
@import "./components/material-icons";

/* Small overrides */
.odometer {
  font-family: inherit !important;
}