@import "tailwindcss";

@import "./core/tw-base";
@import "./core/tw-components";
@import "./core/tw-utilities";
@import "./core/layout";
@import "./components/background";
@import "./components/container";
@import "./components/site-header";
@import "./components/material-icons";
@import "./components/slider";

.odometer {
  font-family: inherit !important;
}



