.wpbs-grid-card {
  position: relative;

  a.wpbs-grid-card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
}

body:not(.wp-admin):not(.editor-styles-wrapper) {
  .--loop .wpbs-grid-card {

    transition: opacity 0.4s ease, transform 0.4s ease;
    transition-delay: var(--delay, 0ms);
    opacity: 1;
    transform: translateY(0);

    &.--loading {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}


