.wpbs-content-tabs {
  position: relative;

  &.animating {
    pointer-events: none;
  }

  .wpbs-content-tabs-container {
    position: relative;
  }

  .wpbs-content-tabs-panel {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;

    &:not(.active) {
      position: absolute;
      pointer-events: none;
      opacity: 0;
      top: 0;
      left: 0;
    }


    &.animating {
      z-index: 2;
      opacity: 0 !important;
    }

  }

  &--fade {


    &.tabs-initialized {
      .wpbs-content-tabs-panel {
        transition: opacity .5s ease;


        &.active {
          opacity: 1;
          transition: none;
        }

      }
    }
  }


}