.wpbs-content-tabs {
  position: relative;

  &.animating {
    pointer-events: none;
  }

  .wpbs-content-tabs-container:has(> .wpbs-content-tabs-panel.active) .wpbs-content-tabs-panel:not(.active),
  .wpbs-content-tabs-container:not(:has(> .wpbs-content-tabs-panel.active)) .wpbs-content-tabs-panel:not(:first-of-type) {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
  }

  .wpbs-content-tabs-container {
    position: relative;
  }

  .wpbs-content-tabs-panel {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease;

    &.active {
      opacity: 1;
      transition: none;
    }

    &.animating {
      z-index: 2;
      opacity: 0 !important;
    }
  }

}