.wpbs-content-tabs {

  &.animating {
    @apply
    pointer-events-none
  }

  &:not(.editor):not(:has(.wpbs-content-tabs-container > .wpbs-content-tabs-panel.active)) {

    .wpbs-content-tabs-panel:first-of-type {
      display: flex;
    }

    .wpbs-content-tabs-panel:not(:first-of-type) {
      display: none;
    }

  }


  &.tabs-initialized {
    .wpbs-content-tabs-panel {
      transition-property: opacity;
      transition-timing-function: ease-in-out;
      transition-duration: var(--fade-duration, .3s);
      opacity: 0;

      &.active {
        opacity: 1;
      }

    }
  }

  .wpbs-content-tabs-panel {
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;

    &.active {
      display: flex;
      pointer-events: auto;
      z-index: 2;
      opacity: 1;
    }

  }

  .wpbs-content-tabs-navigation.is-style-vertical {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    button {
      width: 100%;
      text-align: left;

      &:before {
        border-width: 0 0 1px 0;
        width: 100%;
        height: 1px;
      }
    }
  }

  .wpbs-content-tabs-navigation {
    display: flex;
    user-select: none;

    button {

      position: relative;

      cursor: pointer;
      background-color: var(--button-background, transparent);
      color: var(--button-text, inherit);
      border: var(--button-border, none);
      padding: var(--button-padding, 0px);

      &:not(.active):hover {
        background-color: var(--button-background-hover, var(--button-background, transparent));
        color: var(--button-text-hover, var(--button-text, inherit));
        border-color: var(--button-border-hover, var(--button-border, transparent));
      }

      &.active {
        background-color: var(--button-background-active, var(--button-background, transparent));
        color: var(--button-text-active, var(--button-text, inherit));
        border-color: var(--button-border-active, var(--button-border, transparent));
      }

      &:after {
        content: var(--button-icon, none);
        font-family: "Font Awesome 6 Pro", sans-serif;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: var(--button-icon-size, inherit);
        color: var(--button-color-icon, inherit);
        line-height: inherit;
        height: 1lh;
        aspect-ratio: 1/1;
        float: right;
      }

      &:not(:first-of-type):before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        border-color: dimgray;
        border-style: solid;
      }

      &:before {
        height: 100%;
        width: 1px;
        border-width: 0 0 0 1px;
      }


    }

  }

}