.wpbs-content-tabs {

  &.animating {
    pointer-events: none;
  }

  &:not(.tabs-initialized) {

    .wpbs-content-tabs-container .wpbs-content-tabs-panel:first-of-type {
      display: flex;
    }

    .wpbs-content-tabs-container .wpbs-content-tabs-panel:not(:first-of-type) {
      display: none;
    }

  }
  
  .wpbs-content-tabs-panel {
    display: none;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease;
    opacity: 0;

    &.active {
      display: flex;
      opacity: 1;
    }

  }

}