.wpbs-content-tabs {
  position: relative;

  &.animating {
    pointer-events: none;
  }

  .wpbs-content-tabs-container {
    position: relative;
  }

  .wpbs-content-tabs-panel {
    display: none;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;

    &.active {
      display: flex;
    }
  }

  &--fade {

    &.tabs-initialized {
      .wpbs-content-tabs-panel {
        transition: opacity .5s ease;
        display: flex;

        &.animating {
          z-index: 2;
          opacity: 0 !important;
        }

        &:not(.active) {
          position: absolute;
          pointer-events: none;
          opacity: 0;
          top: 0;
          left: 0;
        }

        &.active {
          opacity: 1;
          transition: none;
        }

      }
    }
  }


}