.wpbs-content-tabs {

  &.animating {
    pointer-events: none;
  }

  &:not(.editor):not(:has(.wpbs-content-tabs-container > .wpbs-content-tabs-panel.active)) {

    .wpbs-content-tabs-panel:first-of-type {
      display: flex;
    }

    .wpbs-content-tabs-panel:not(:first-of-type) {
      display: none;
    }

  }


  &.tabs-initialized {
    .wpbs-content-tabs-panel {
      transition-property: opacity;
      transition-timing-function: ease-in-out;
      transition-duration: var(--fade-duration, .3s);
      opacity: 0;

      &.active {
        opacity: 1;
      }

    }
  }

  .wpbs-content-tabs-panel {
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;

    &.active {
      display: flex;
      pointer-events: auto;
      z-index: 2;
      opacity: 1;
    }

  }

  .wpbs-content-tabs-navigation {
    display: flex;

    button {

      background-color: var(--button-background, transparent);
      color: var(--button-text, inherit);
      border: var(--button-border, none);
      padding: var(--button-padding, 0px);

      &:not(.active):hover {
        background-color: var(--button-background-hover, var(--button-background, transparent));
        color: var(--button-text-hover, var(--button-text, inherit));
        border-color: var(--button-border-hover, var(--button-border, transparent));
      }

      &.active {
        background-color: var(--button-background-active, var(--button-background, transparent));
        color: var(--button-text-active, var(--button-text, inherit));
        border-color: var(--button-border-active, var(--button-border, transparent));
      }


    }

  }

}