.wpbs-content-tabs {


  &:not(.tabs-initialized) {
    .wpbs-content-tabs-container:has(> .wpbs-content-tabs-panel.active) .wpbs-content-tabs-panel:not(.active) {
      display: none;
    }

    .wpbs-content-tabs-container:not(:has(> .wpbs-content-tabs-panel.active)) .wpbs-content-tabs-panel:first-of-type {
      display: flex;
    }
  }


  &.animating {
    pointer-events: none;
  }

  .wpbs-content-tabs-panel {
    display: none;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease;
    opacity: 0;

    &.active {
      display: flex;
      opacity: 1;
    }

    &.fade-out {
      z-index: 2;
      opacity: 0;
    }

    &.fade-in {
      display: flex;
      opacity: 0;
    }
  }


}