.wpbs-content-tabs {

  .wpbs-content-tabs-container:has(> .wpbs-content-tabs-panel.active) .wpbs-content-tabs-panel:not(.active) {
    display: none;
    opacity: 0;
  }

  .wpbs-content-tabs-container:not(:has(> .wpbs-content-tabs-panel.active)) .wpbs-content-tabs-panel:not(:first-of-type) {
    display: none;
    opacity: 0;
  }

  .wpbs-content-tabs-panel {
    transition: opacity 0.5s ease;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

  .wpbs-content-tabs-panel.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}