.wpbs-slide {
  max-width: calc(100% / var(--slides, 1));
}

.wpbs-slide--image picture > img {
  width: 100% !important;
  height: 100% !important;
  object-fit: var(--image-size, contain);
}

.wpbs-slide__container {
  display: flex !important;
}