.wpbs-slide {
  position: relative;
  width: 100%;

  .wpbs-slide__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
  }

  picture {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: var(--image-size, cover);
      object-position: var(--image-origin, center);
    }
  }
}


