.wpbs-faq-group {

  &.--divider {

    .wpbs-faq-item {
      position: relative;

      &:not(:last-of-type):after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: var(--divider, none);
      }
    }

  }
}