.wpbs-icon-block {
  width: 1ch;
  height: 1ch;
  line-height: 1ch;
  display: flex;
  position: relative;
  overflow: visible;
  justify-content: center;
  align-items: center;
  text-align: center !important;

  &.--inline {
    display: inline-flex;
  }

  span.wpbs-icon, a {
    width: 1ch;
    height: 1ch;
    line-height: 1ch;
    display: flex;
  }

  span.wpbs-icon, a {
    justify-content: center;
    align-items: center;
  }

  img {
    object-fit: contain;
    object-position: center;
  }

  &:not(body.wp-admin &) {
    //pointer-events: none;
    user-select: none;
  }
}