@mixin mq($size, $query_type: 'min') {

  @if $size == 'xs' {
    @media only screen and (#{$query_type}-width: 480px) {
      @content
    }
  }

  @if $size == 'sm' {
    @media only screen and (#{$query_type}-width: 640px) {
      @content
    }
  }

  @if $size == 'md' {
    @media only screen and (#{$query_type}-width: 768px) {
      @content
    }
  }

  @if $size == 'lg' {
    @media only screen and (#{$query_type}-width: 1024px) {
      @content
    }
  }

  @if $size == 'xl' {
    @media only screen and (#{$query_type}-width: 1280px) {
      @content
    }
  }

  @if $size == '2xl' {
    @media only screen and (#{$query_type}-width: 1344px) {
      @content
    }
  }

  @if $size == '3xl' {
    @media only screen and (#{$query_type}-width: 1404px) {
      @content
    }
  }

  @if $size == '4xl' {
    @media only screen and (#{$query_type}-width: 2032px) {
      @content
    }
  }
}
