.wpbs-nav-menu {
  .wpbs-nav-menu-container {
    display: flex;

    & > li {
      @apply relative;

      &:hover > a {
        background-color: var(--color-background-hover, transparent);
      }

      &.current-menu-item > a,
      &.current-menu-ancestor > a {
        color: var(--color-text-active, inherit) !important;
        background-color: var(--color-background-active, transparent) !important;
      }

      & > a {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: var(--link-padding, initial);
        background-color: var(--color-background, transparent);
        text-decoration: var(--decoration, none);
        text-decoration-color: var(--color-text-decoration, initial);
        text-underline-offset: .3em;
        border-width: var(--link-border-width, 0);
        border-style: var(--link-border-style, none);
        border-color: var(--link-border-color, transparent);
        @apply whitespace-nowrap flex transition-colors duration-200 relative items-center;

        & > span {
          @apply
          grow
        }

      }

      &.active,
      &:hover {

        & > a {
          text-decoration-color: var(--color-text-decoration-active, var(--color-text-decoration, initial));
          border-width: var(--link-border-width-active, 0);
          border-style: var(--link-border-style-active, none);
          border-color: var(--link-border-color-active, transparent);

          &:after {
            color: inherit;
          }
        }
      }


      &.menu-item-has-children {
        & > a {

          &:after {
            content: var(--icon, none);
            font-size: var(--icon-size, 24px);
            font-variation-settings: var(--icon-css);
            font-family: "Material Symbols Outlined", sans-serif;
            color: var(--color-icon, inherit);
            transition-timing-function: ease-in-out;
            @apply aspect-square transition-transform duration-300 flex text-center justify-center items-center pointer-events-none
          }
        }


        &.active {

          & > a {

            &:after {
              content: var(--icon-open, none);
              font-size: var(--icon-open-size, inherit);
              font-variation-settings: var(--icon-open-css);
              font-family: "Material Symbols Outlined", sans-serif;
            }
          }
        }
      }


      & > .sub-menu {
        display: none;
        flex-direction: column;
        gap: var(--submenu-gap, 0px);
        overflow: hidden;

        & > li {
          @apply w-full;

          &:last-of-type {
            border-bottom: none;
          }

          & > a {
            gap: var(--submenu-icon-space, initial);
            padding: var(--submenu-link-padding, initial);
            color: var(--color-submenu-text, black);
            background-color: var(--color-submenu-background, white) !important;
            @apply transition-colors flex w-full;
            transition-duration: 300ms;
          }

          &:hover > a {
            color: var(--color-submenu-text-hover, var(--color-submenu-text, black)) !important;
            background-color: var(--color-submenu-background-hover, var(--color-submenu-background, #efefef));
          }

          &.current-menu-item > a,
          &.current-menu-ancestor > a {
            color: var(--color-submenu-text-active, inherit) !important;
            background-color: var(--color-submenu-background-active, var(--color-submenu-background, #efefef)) !important;
          }
        }
      }
    }

    // Active states
    & > li.current-menu-item,
    & > li.current-menu-ancestor {
      & > a {
        color: var(--color-text-active, inherit) !important;
        background-color: var(--color-background-active, transparent);
      }
    }
  }


  &.--divider .wpbs-nav-menu-container > li:not(:last-of-type) {
    @apply relative;
  }

  &.is-style-default.--divider .wpbs-nav-menu-container > li:not(:last-of-type):after {
    content: var(--icon-divider, none);
    font-variation-settings: var(--icon-divider-css);
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: var(--icon-divider-size, 24px);
    position: absolute;
    top: 50%;
    right: 0;
    height: 1em;
    line-height: 1;
    width: auto;
    border-right: var(--divider, none);
    transform: translate(calc((var(--column-gap, 1px) / 2) + 50%), -50%);
    color: var(--icon-divider-color, inherit)
  }

  &.is-style-default.--divider.--icon-divider .wpbs-nav-menu-container > li:not(:last-of-type):after {
    height: auto;
    vertical-align: middle;
    text-align: center;
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: 600;;
    border: none !important;
  }

  //
  // ============ Columns STYLE ============
  //


  &.is-style-columns {
    .wpbs-nav-menu-container {
      display: grid;
      grid-template-columns: repeat(var(--columns, 1), auto);

      & > li {
        width: auto;

        & > a {
          width: auto;
        }
      }
    }
  }


  //
  // ============ DROPDOWN STYLE ============
  //
  &.is-style-dropdown {
    .wpbs-nav-menu-container {
      flex-wrap: wrap;

      & > li > .sub-menu {
        width: max(100%, 12rem);
        top: 100%;
        left: 50%;
        padding-top: var(--submenu-space, 0.7rem);
        transform: translateX(-50%);
        position: absolute;
        background-color: transparent;
        transition: opacity 0.3s;
        @apply flex flex-col text-left opacity-0 pointer-events-none z-50;

        &.offset-right {
          right: 0;
          left: auto;
          transform: translateX(0);
        }

        &.offset-left {
          left: 0;
          transform: translateX(0);
        }

        & > li:first-of-type {
          border-radius: var(--submenu-rounded, 6px) var(--submenu-rounded, 6px) 0 0;
        }

        & > li:last-of-type {
          border-radius: 0 0 var(--submenu-rounded, 6px) var(--submenu-rounded, 6px);
        }

        & > li:only-of-type {
          border-radius: var(--submenu-rounded, 6px);
        }
      }

      & > li:hover > .sub-menu {
        max-width: min(20rem, 100vw);
        @apply opacity-100 pointer-events-auto;
      }

      & > li.menu-item-has-children:hover > a:after {
        @apply rotate-180;
      }
    }

    // Sub-style: icon below
    &.--icon-below .wpbs-nav-menu-container > li > a:after {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
  }

  //
  // ============ ACCORDION STYLE ============
  //
  &.is-style-accordion {
    .wpbs-nav-menu-container {
      @apply w-full flex flex-col;

      & > li {
        @apply w-full block;

        &.menu-item-has-children > a {
          padding-right: var(--icon-size, 24px);

          &:after {
            width: 1lh;
            position: absolute;
            right: 0;
            max-height: 1em;
            line-height: 1em;
            @apply w-auto;
          }
        }

        & > a {
          @apply w-full;
          padding: var(--submenu-link-padding, initial);
        }

        & > .sub-menu {
          background-color: var(--color-submenu-background, transparent);
          border-radius: var(--submenu-rounded, initial);
          border: var(--submenu-border, none);
          overflow: hidden;
          padding: var(--submenu-padding, initial);
          margin-top: var(--submenu-space, 0px);
          @apply w-full hidden flex-col;

          & > li:not(:last-of-type) {
            margin-bottom: var(--submenu-gap, 0px);
          }
        }

        &.active > a:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  //
  // ============ SUBMENU DIVIDER ============
  //
  &.--submenu-divider .wpbs-nav-menu-container > li > .sub-menu > li {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: var(--submenu-divider, none);
      transform: translateY(calc(var(--submenu-gap, 0px) / 2));
    }

    &:last-of-type:after {
      content: none;
    }
  }
}
