.wpbs-nav-menu {

  .wpbs-menu-container {

    justify-content: inherit;
    align-items: inherit;
    gap: inherit;
    flex-wrap: inherit;

    & li.current-menu-item:not(:hover),
    & li.current-menu-ancestor:not(:hover) {
      color: var(--current-item, inherit) !important;
    }

    & > li {
      background-color: var(--link-bg, transparent);
      color: var(--link-color, inherit);
      @apply
      relative
      ;

      &:hover {
        color: var(--link-color-hover, inherit);
      }

      &:hover > a {
        background-color: var(--link-bg-hover, transparent);
      }

      &.active > a {
        background-color: var(--link-active-bg, transparent);
        color: var(--link-active, inherit);
      }

      & > a {
        padding: var(--link-padding-y, var(--link-padding-x, initial)) var(--link-padding-x, var(--link-padding-y, initial));
        color: inherit;
        @apply
        whitespace-nowrap
        flex
        transition-colors
        duration-200
        ease-linear
        relative
        items-center
      }

      &.menu-item-has-children {

        &.active > a:after {
          @apply
          rotate-180
        }

        & > a {

          &:after {
            content: '\f078';
            transition-timing-function: ease-in-out;
            font-family: 'Font Awesome 6 Pro', sans-serif;
            @apply
            aspect-square
            transition-transform
            duration-300
            flex
            text-center
            justify-center
            items-center
            pointer-events-none
          }
        }
      }
    }

    .sub-menu {
      padding: var(--sub-menu-spacing, 1rem) 0 !important;

      & > li {

        &:first-of-type > a {
          border-radius: var(--sub-menu-rounded, 0) var(--sub-menu-rounded, 0) 0 0;
        }

        &:last-of-type > a {
          border-radius: 0 0 var(--sub-menu-rounded, 0) var(--sub-menu-rounded, 0);
        }

        &:only-of-type > a {
          border-radius: var(--sub-menu-rounded, 0);
        }

        &:last-of-type {
          border-bottom: none;
        }

        &:hover > a,
        & > a:hover {
          color: var(--sub-menu-text, black);
        }

        &:hover > a {
          background-color: var(--sub-menu-hover, var(--sub-menu, #efefef));
          color: var(--sub-menu-text-hover, var(--sub-menu-text, black));
        }

        &.current-menu-item > a:not(:hover),
        &.current-menu-ancestor > a:not(:hover) {
          color: var(--current-item, inherit) !important;
        }

        & > a {
          color: var(--sub-menu-text, black);
          background-color: var(--sub-menu, white);
          padding: var(--sub-menu-padding-y, var(--sub-menu-padding-x, initial)) var(--sub-menu-padding-x, var(--sub-menu-padding-y, initial));
          @apply
          transition-colors
          duration-300
          block
        }
      }
    }

    .wpbs-menu-container:not(.is-style-accordion) {
      @apply
      flex
      ;

      & > li:hover > .sub-menu {
        max-width: min(20rem, 100vw);
        @apply
        opacity-100
        pointer-events-auto
      }

      & > li > .sub-menu.offset-right {
        right: 0;
        left: auto;
        transform: translateX(0px);
      }

      & > li > .sub-menu.offset-left {
        left: 0;
        transform: translateX(0px);
      }

      & > li > .sub-menu {
        width: max(100%, 12rem);
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition-duration: 300ms;
        @apply
        text-left
        flex
        flex-col
        opacity-0
        transition-opacity
        pointer-events-none
        absolute
        transform
        z-50
        ;

        & > li {
          @apply
          w-full
        }

        & > li > a {
          @apply
          block
          w-full
        }
      }
    }

    .wpbs-menu-container.is-style-accordion {
      @apply
      w-full
      flex
      flex-col
      ;

      & > li {
        @apply
        w-full
        block
        ;

        &.menu-item-has-children {

          .sub-menu {
            background-color: var(--sub-menu, transparent);
          }

          & > a {
            padding-right: calc(var(--sub-menu-padding-x, 0px) + 1.5em);

            &:after {
              content: '\f078';
              margin-right: var(--sub-menu-padding-x, initial);
              top: 50%;
              right: 0;
              height: 1.2em;
              transform: translateX(-50%);
              @apply
              absolute
              w-auto
              text-inherit
            }
          }
        }
      }

      & li > a {
        @apply
        w-full
      }

      & > li > .sub-menu {
        @apply
        w-full
        hidden
      }


    }

  }

}