.wpbs-nav-menu {

  .wpbs-nav-menu-container {

    & li.current-menu-item:not(:hover),
    & li.current-menu-ancestor:not(:hover) {
      color: var(--current-item, inherit) !important;
    }

    & > li {
      background-color: var(--link-bg, transparent);
      @apply
      relative
      ;

      &:hover > a {
        background-color: var(--link-bg-hover, transparent);
      }

      &.active > a {
        background-color: var(--link-bg-active, transparent);
        color: var(--link-active, inherit);
      }

      & > a {
        padding: var(--link-padding, initial);
        color: var(--link-color, inherit);
        @apply
        whitespace-nowrap
        flex
        transition-colors
        duration-200
        relative
        items-center
        no-underline
      }

      &.menu-item-has-children {

        &.active > a:after {
          @apply
          rotate-180
        }

        & > a {

          &:after {
            content: '\f078';
            transition-timing-function: ease-in-out;
            font-family: 'Font Awesome 6 Pro', sans-serif;
            @apply
            aspect-square
            transition-transform
            duration-300
            flex
            text-center
            justify-center
            items-center
            pointer-events-none
          }
        }
      }
    }

    & > li > .sub-menu {

      & > li {

        &:last-of-type {
          border-bottom: none;
        }

        &:hover > a,
        & > a:hover {
          color: var(--sub-menu-text, black);
        }

        &:hover > a {
          background-color: var(--sub-menu-hover, var(--sub-menu, #efefef));
          color: var(--sub-menu-text-hover, var(--sub-menu-text, black));
        }

        &.current-menu-item > a:not(:hover),
        &.current-menu-ancestor > a:not(:hover) {
          color: var(--current-item, inherit) !important;
        }

        & > a {
          color: var(--sub-menu-text, black);
          background-color: var(--sub-menu, white);
          padding: var(--sub-menu-padding-y, var(--sub-menu-padding-x, initial)) var(--sub-menu-padding-x, var(--sub-menu-padding-y, initial));
          transition-duration: 300ms;
          @apply
          transition-colors
          block
        }
      }
    }

  }

  &:not(.is-style-accordion) .wpbs-nav-menu-container {
    @apply
    flex
    ;

    & > li > .sub-menu.offset-right {
      right: 0;
      left: auto;
      transform: translateX(0px);
    }

    & > li > .sub-menu.offset-left {
      left: 0;
      transform: translateX(0px);
    }

    & > li > .sub-menu {

      width: max(100%, 12rem);
      top: 100%;
      left: 50%;
      padding-top: var(--row-gap, .7rem);
      transition: opacity .3s;
      position: absolute;
      background-color: transparent;
      transform: translateX(-50%);
      @apply
      text-left
      flex
      flex-col
      opacity-0
      pointer-events-none
      absolute
      z-50
      ;

      & > li:first-of-type {
        border-radius: var(--sub-menu-rounded, 6px) var(--sub-menu-rounded, 6px) 0 0;
      }

      & > li:last-of-type {
        border-radius: 0 0 var(--sub-menu-rounded, 6px) var(--sub-menu-rounded, 6px);
      }

      & > li:only-of-type {
        border-radius: var(--sub-menu-rounded, 6px);
      }

      & > li {
        @apply
        w-full
        overflow-hidden
      }

      & > li > a {
        @apply
        block
        w-full
      }

    }

    & > li:hover > .sub-menu {
      max-width: min(20rem, 100vw);
      @apply
      opacity-100
      pointer-events-auto
    }

  }

  &.is-style-accordion .wpbs-nav-menu-container {
    @apply
    w-full
    flex
    flex-col
    ;

    & > li {
      @apply
      w-full
      block
      ;

      &.menu-item-has-children {

        .sub-menu {
          background-color: var(--sub-menu, transparent);
        }

        & > a {
          padding-right: calc(var(--sub-menu-padding-x, 0px) + 1.5em);

          &:after {
            content: '\f078';
            margin-right: var(--sub-menu-padding-x, initial);
            top: 50%;
            right: 0;
            height: 1.2em;
            @apply
            absolute
            w-auto
            text-inherit
          }
        }
      }
    }

    & li > a {
      @apply
      w-full
    }

    & > li > .sub-menu {
      @apply
      w-full
      hidden
    }


  }

}