.wpbs-team-member-content {

  &.team-profile-toggle {
    cursor: pointer;
  }


  &.--line-clamp {
    line-clamp: var(--line-clamp, 6);
    -webkit-line-clamp: var(--line-clamp, 6);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


  &.--icon {

    &:before {
      content: var(--icon, none);
      color: var(--icon-color, inherit);
      font-family: 'Material Symbols Outlined', sans-serif;
      font-size: var(--icon-size, 24px);
      font-variation-settings: var(--icon-css);
      aspect-ratio: 1/1;
    }

  }

}