.wpbs-company-content {
  @apply
  flex
  relative;

  &.--line-clamp {
    line-clamp: var(--line-clamp, 6);
    -webkit-line-clamp: var(--line-clamp, 6);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


}