.wpbs-company-content {
  @apply
  flex
  relative;

  &.--line-clamp {
    line-clamp: var(--line-clamp, 6);
    -webkit-line-clamp: var(--line-clamp, 6);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


  &.--icon {

    &:before {
      content: var(--icon, none);
      color: var(--icon-color, inherit);
      font-family: 'Material Symbols Outlined', sans-serif;
      font-size: var(--icon-size, 24px);
      line-height: inherit;
      height: 1lh;
      width: auto;
      aspect-ratio: 1/1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

  }
}