.wpbs-company-content {
  @apply
  flex
  relative;

  &.--line-clamp {
    line-clamp: var(--line-clamp, 6);
    -webkit-line-clamp: var(--line-clamp, 6);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


  &.--icon {

    &:before {
      content: var(--icon, none);
      font-variation-settings: var(--icon-css);
      font-size: var(--icon-size, 24px);
      color: var(--icon-color, inherit);
    }

  }
}