.divlabs-archive-search {

  &__input {
    border: solid var(--field-border, 0) var(--field-border-color, unset);
    border-radius: var(--field-rounded, 0) 0 0 var(--field-rounded, 0);
    background-color: var(--background-color, transparent);
    color: var(--text-color, inherit);
    height: var(--wp--custom--form--default--input--height, auto);
  }

  &__btn {
    border-radius: 0 var(--field-rounded, 0) var(--field-rounded, 0) 0;
    border-style: solid;
    border-width: var(--field-border, 0);
    border-color: var(--button-border, var(--button-color, var(--field-border-color, transparent)));
  }

}