.wpbs-accordion-group {

  .wpbs-accordion-group-header {
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: color .3s linear;
  }


  &.--header-hover .wpbs-accordion-group-header:hover {
    background-color: var(--header-color-hover);
  }

  &.--header-text-hover .wpbs-accordion-group-header:hover {
    color: var(--header-text-color-hover);
  }

  &.--header-active .wpbs-accordion-group-item.active > .wpbs-accordion-group-header {
    background-color: var(--header-color-active);
  }

  &.--header-text-active .wpbs-accordion-group-item.active > .wpbs-accordion-group-header {
    color: var(--header-text-color-active);
  }

  .wpbs-accordion-group-header > button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1/1;
    margin-left: auto;
    font-size: var(--icon-size, 24px);
    color: var(--icon-color, inherit);
    font-weight: var(--icon-style, 400);
    font-family: 'Font Awesome 6 Pro', sans-serif;
    height: 1.2em;
    line-height: normal;
    transition: transform .3s ease-in-out, color .3s linear;

    &:before {
      content: var(--icon-closed, "\f078");
    }
  }

  .wpbs-accordion-group-item.active > .wpbs-accordion-group-header > button {
    &:before {
      content: var(--icon-open, var(--icon-closed, "\f077"));
    }
  }

  &.--static-icon .wpbs-accordion-group-header > button {
    transition: none !important;
  }

  &.--no-icon .wpbs-accordion-group-header > button {
    display: none !important;
  }

  .wpbs-accordion-group-item.active > .wpbs-accordion-group-header > button {
    transform: rotate(-180deg);
  }

  .wpbs-accordion-group-content {
    display: none;
  }

  &.editor .wpbs-accordion-group-content {
    display: block;
  }

  .wpbs-accordion-group-item--open .wpbs-accordion-group-content {
    display: block;
  }

}