.wpbs-accordion-group {
  @apply
  flex
  flex-col
  ;

  &.animating {
    pointer-events: none;
  }

  .wpbs-accordion-group-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
    transition: color .3s linear;
  }


  &.--header-hover .wpbs-accordion-group-header:hover {
    background-color: var(--header-color-hover);
  }

  &.--header-text-hover .wpbs-accordion-group-header:hover {
    color: var(--header-text-color-hover);
  }

  &.--header-active .wpbs-accordion-group-item.active > .wpbs-accordion-group-header {
    background-color: var(--header-color-active);
  }

  &.--header-text-active .wpbs-accordion-group-item.active > .wpbs-accordion-group-header {
    color: var(--header-text-color-active);
  }

  .wpbs-accordion-group-header__toggle {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1/1;
    font-size: var(--icon-size, 20px);
    color: var(--icon-color, inherit);
    font-weight: var(--icon-style, inherit);
    font-family: 'Font Awesome 6 Pro', sans-serif;
    height: 1.2em;
    line-height: normal;
    transition: transform .3s ease-in-out, color .3s linear;

    &:before {
      content: var(--icon-closed, "\f078");
    }
  }

  .wpbs-accordion-group-item.--open .wpbs-accordion-group-header__toggle {
    &:before {
      content: var(--icon-open, var(--icon-closed, "\f077"));
    }
  }

  &.--static .wpbs-accordion-group-header__toggle {
    transform: none !important;
    transition: none !important;
  }

  &.--no-icon .wpbs-accordion-group-header__toggle {
    display: none !important;
  }

  .wpbs-accordion-group-item.--open .wpbs-accordion-group-header__toggle {
    transform: rotate(-180deg);
  }

  .wpbs-accordion-group-content {
    display: none;
  }

  .wpbs-accordion-group-item.active .wpbs-accordion-group-content {
    display: block;
  }

}