.wpbs-accordion-group {

  .wpbs-accordion-group-header {
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }


  &.--header-hover .wpbs-accordion-group-header:hover {
    background-color: var(--header-color-hover);
  }

  &.--header-text-hover .wpbs-accordion-group-header:hover {
    color: var(--header-text-color-hover);
  }

  &.--header-active .active > .wpbs-accordion-group-header {
    background-color: var(--header-color-active);
  }

  &.--header-text-active .active > .wpbs-accordion-group-header {
    color: var(--header-text-color-active);
  }

  .wpbs-accordion-group-header > button {

  }

  .wpbs-accordion-group-content {
    display: none;
  }

  &.editor .wpbs-accordion-group-content {
    display: block;
  }

  .wpbs-accordion-group-item--open .wpbs-accordion-group-content {
    display: block;
  }

}