.wpbs-accordion-group {

  .wpbs-accordion-group-header {
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  .wpbs-accordion-group-content {
    display: none;
  }

  .wpbs-accordion-group-item--open .wpbs-accordion-group-content {
    display: block;
  }

}