.wpbs-slider {

  .swiper-pagination-progressbar {
    width: min(5rem, 100%) !important;
  }

  &.swiper-disabled .swiper-wrapper {
    display: block !important;
  }

  &--collapse.swiper--disabled {

    .swiper-wrapper {
      display: flex !important;
      flex-direction: column !important;
      gap: inherit !important;
    }
  }

}