.wpbs-slider {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;

  &.--collapse.swiper--disabled .swiper-slide {
    flex-grow: 0 !important;
    height: auto !important;
  }

  .swiper-wrapper {
    min-width: 100%;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    height: auto;
    flex-grow: 1;
  }

  .swiper-slide:not(:last-of-type) {
    margin-right: var(--space, 0px);
  }

  .swiper-slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    max-width: calc((100% - (var(--space, 0px) * (var(--slides, 2) - 1))) / var(--slides, 1));
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &.--collapse.swiper--disabled .swiper-wrapper {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    gap: inherit !important;
  }

  .swiper-button-disabled {
    opacity: 0.5;
    cursor: auto;
  }

}