.wpbs-slider {

  .swiper-pagination-progressbar {
    width: min(5rem, 100%) !important;
  }

  &--collapse.swiper--disabled {

    .swiper-wrapper {
      display: flex !important;
      flex-direction: column !important;
      justify-content: flex-start !important;
      gap: inherit !important;
    }

    .swiper-slide {
      flex-grow: 0 !important;
      height: auto !important;
    }
  }

  .swiper-button-disabled {
    opacity: .5;
    cursor: auto;
  }

  &:not(.swiper-initialized) .wpbs-slider-nav {
    //opacity: 0;
    pointer-events: none !important;

    * {
      pointer-events: none !important;
    }
  }

}