.wpbs-translate {
  .gtranslate_wrapper {
    @apply
    relative
    flex
    h-full
    ;

    .gt_switcher {
      overflow: visible !important;

      .gt_option {
        position: absolute !important;
        top: 100% !important;
      }
    }

    .gt_selected {
      height: 100%;
      display: flex;
      align-items: center;

      & > a {
        padding: 0 !important;
        border: none !important;
        height: auto !important;
        width: auto !important;
        display: flex !important;
        align-items: center;
        gap: 10px;

        & > img {
          width: auto !important;
          display: block !important;
        }
      }
    }

    #gt_float_wrapper {
      @apply
      relative
      flex
      w-full
    }

    .gt_float_switcher,
    .gt_switcher-popup {
      @apply
      w-full
      flex
      items-center
      rounded-none
      bg-transparent
      h-full
      relative
      overflow-visible
      shadow-none
      ;

      .gt-selected {
        @apply
        w-full
        h-full
        flex
        bg-transparent
        ;

        .gt-current-lang {
          @apply
          flex
          justify-start
          items-center
          h-full
          w-full
          text-inherit
          ;

          & > img {
            @apply
            hidden
            w-auto
            aspect-square
            object-contain
          }

          .gt-lang-code {
            width: 4ch;
            @apply
            top-auto
            static
            block
            text-inherit


          }

          .gt_float_switcher-arrow {
            @apply
            flex
            justify-center
            items-center
            aspect-square
            w-auto
            bg-none
            ml-auto
            ;

            &:before {
              @apply
              content-['\f077']


            }
          }
        }
      }

      .gt_options {
        @apply
        absolute
        top-full


        z-50
        ;

        & > a {
          @apply
          w-full
          flex
          items-center

          justify-start
          text-inherit


          ;

          & > img {
            @apply
            aspect-square
            flex
            w-auto
          }
        }
      }
    }
  }
}

.wpbs-translate.is-style-flag {
  .gt-current-lang,
  .gt_switcher-popup {
    & > img {
      @apply
      flex
    }
  }
}