.wpbs-figure {
  @apply
  flex
  items-center
  justify-center
  relative
  max-w-full
  max-h-full
  ;

  picture {
    object-fit: inherit;

    & > img {
      @apply
      w-full
      h-full
    }
  }

  &__media {
    @apply
    w-full h-full overflow-hidden rounded-inherit
    ;


    &:before {
      border-radius: inherit;
      background: var(--overlay, transparent);

      @apply
      content-['']
      block
      absolute
      top-0
      left-0
      w-full
      h-full
      z-20
      pointer-events-none

    }
  }
}