.wpbs-figure {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;

  picture {
    object-fit: inherit;
    width: 100%;
    height: auto;

    & > img {
      object-fit: inherit;
      width: 100%;
      height: 100%;
    }
  }

  &__media {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    object-fit: inherit;


    &:before {
      content: '';
      border-radius: inherit;
      background: var(--overlay, transparent);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      pointer-events: none;

    }
  }
}