.wpbs-figure {
  display: grid;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  grid-template-columns: 100%;
  overflow: hidden;
  object-fit: cover;
  pointer-events: none;

  &.--contain {
    object-fit: contain;
  }

  &.--blend {
    picture img {
      mix-blend-mode: var(--blend, none);
    }
  }

  &.--origin {
    picture img {
      object-position: var(--origin, center);
    }
  }

  picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: inherit;
    position: relative;
    z-index: 1;

    img {
      object-fit: inherit;
      width: 100%;
      height: 100%;
    }
  }


  &.--overlay::before {
    content: '';
    background: var(--overlay, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    pointer-events: none;
    display: block;
  }
}


