.wpbs-figure {


  &:after {

    background: var(--overlay, transparent);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    pointer-events: none;

  }
}