.wpbs-figure {
  @apply grid relative max-w-full max-h-full items-center justify-center;
  grid-template-columns: 100%;
}

/* <picture> inside .wpbs-figure */
.wpbs-figure picture {
  object-fit: inherit;
  width: 100%;
  height: auto;
}

/* <img> inside <picture> */
.wpbs-figure picture > img {
  object-fit: inherit;
  width: 100%;
  height: 100%;
}

/* Media wrapper */
.wpbs-figure__media {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  object-fit: inherit;
  position: relative; /* needed for ::before overlay */

  img {
    object-position: var(--origin, center);
  }
}

/* Overlay layer inside media */
.wpbs-figure__media::before {
  content: '';
  border-radius: inherit;
  background: var(--overlay, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  pointer-events: none;
  display: block;
}
