.wpbs-flyout {
  z-index: 900;
  width: 100svw;
  height: 100svh;
  top: 0;
  left: 0;
  transition: all var(--animation, 500ms);
  background-color: var(--overlay, rgba(0, 0, 0, .5));
  backdrop-filter: grayscale(var(--grayscale, 0)) blur(var(--blur, 0px));
  @apply
  opacity-0
  fixed
  flex
  overflow-hidden
  justify-end
  pointer-events-none
  ;

  &.active {

    @apply
    opacity-100
    pointer-events-auto
  }


  &.active .wpbs-flyout__container {
    transform: translate(0, 0);
  }

  &.--editor {
    opacity: 1 !important;
  }

  &.--editor .wpbs-flyout__container {
    transform: none !important;
    opacity: 1 !important;
  }

}

.wpbs-flyout__container {
  transform: translate(calc(100% + 2rem), 0);
  top: 0;
  right: 0;
  max-width: var(--container-width, 100%);
  transition: all var(--animation, 500ms) ease-in-out;
  @apply
  w-full
  h-full
  flex
  flex-col
  z-30
  absolute
  pointer-events-none
  ;

  & > * {
    @apply
    pointer-events-auto
  }
}
