.wpbs-flyout {
  z-index: 900;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: background-color var(--animation, 300ms) linear, backdrop-filter var(--animation, 300ms) linear;
  background-color: rgba(0, 0, 0, 0);
  @apply
  fixed
  flex
  overflow-hidden
  justify-end
  pointer-events-none
  ;

  @media (prefers-reduced-transparency: reduce) {
    transition: background-color var(--animation, 300ms) linear;

    &.active {
      backdrop-filter: none;
    }
  }

  &.active {
    background-color: var(--overlay, rgba(0, 0, 0, .5));
    backdrop-filter: grayscale(var(--grayscale, 0)) blur(clamp(0px, var(--blur, 0px), 10px));
    @apply
    opacity-100
    pointer-events-auto
  }

  &.active .wpbs-flyout__container {
    transform: translate(0, 0);
    opacity: 1 !important;
  }

  &.--fade .wpbs-flyout__container {
    opacity: 0;
  }

  &.--editor {
    background-color: var(--overlay, rgba(0, 0, 0, .5)) !important;
    opacity: 1 !important;
    height: 100% !important;
    flex-grow: 1;
    position: relative;
    z-index: auto;
  }

  &.--editor .wpbs-flyout__container {
    transform: none !important;
    opacity: 1 !important;
  }

}

.wpbs-flyout__container {
  transform: translate(calc(100% + 2rem), 0);
  top: 0;
  right: 0;
  max-width: var(--container-width, 100%);
  transition: transform var(--animation, 300ms) ease-in-out, opacity var(--animation, 300ms) linear;
  @apply
  w-full
  h-full
  flex
  flex-col
  z-30
  absolute
  pointer-events-none
  ;

  & > * {
    @apply
    pointer-events-auto
  }
}
