.wpbs-flyout {
  z-index: 900;
  width: 100svw;
  height: 100svh;
  top: 0;
  left: 0;
  transition-duration: var(--animation, 500);
  @apply
  fixed
  flex
  overflow-hidden
  bg-transparent
  justify-end
  pointer-events-none
  transition-all
  ease-linear
  ;

  &.active {
    backdrop-filter: grayscale(var(--grayscale, 0)) blur(var(--blur, 0px));
    -webkit-backdrop-filter: grayscale(var(--grayscale, 0)) blur(var(--blur, 0px));
    @apply
    pointer-events-auto
  }


  &.active .wpbs-flyout__container {
    transform: translate(0, 0);
  }

}

.wpbs-flyout__container {
  transform: translate(calc(100% + 2rem), 0);
  transition-timing-function: ease-in-out;
  top: 0;
  left: 0;
  max-width: max-content;
  transition-duration: var(--animation, 500);
  @apply
  w-full
  h-full
  flex
  flex-col
  transition-transform
  z-30
  absolute
  pointer-events-none
  ;

  & > * {
    @apply
    pointer-events-auto
  }
}
